<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> Pages <span></span> Mon compte
      </div>
    </div>
  </div>
  <div class="page-content pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
          <div class="row">
            <form method="post" (ngSubmit)="onSubmit()" #registerForm="ngForm">
              <div class="row">
                <div class="heading_s1">
                  <h1 class="mb-5">Réinitialiser le mot de passe</h1>
                  <p class="mb-30">
                    Vous souvenez-vous de votre mot de passe ? 
                      <a href="/login">Connectez-vous ici</a>
                  </p>
              </div>
              
<!-- First column -->
<div class="col-lg-6 col-md-6">
  <div class="login_wrap widget-taber-content background-white">
    <div class="padding_eight_all bg-white">

      <div class="form-group mb-3">
        <div class="form-group">
          <input 
            [type]="showPassword ? 'text' : 'password'"
            placeholder=" Mot de passe"
            [(ngModel)]="userData.password"
            name="password"
            class="password-input"
            (ngModelChange)="clearError('password')"
          >
          <span class="eyeicon" (click)="togglePasswordVisibility()">
            <i [ngClass]="showPassword ? 'fi-rs-eye' : 'fi-rr-eye-crossed'"></i>
          </span>
        </div>
        
        <div
          *ngIf="fieldErrors.password"
          class="text-danger requisDiv"
          style="margin-top: 1rem"
        >
          <div> 
             Mot de passe est requis.</div>
        </div>
        <div
        *ngIf="error && error.error &&  error.error.message ==='Password token invalid'"
          class="text-danger requisDiv"
          style="margin-top: 1rem"
        >
          <div>
            Le délai pour modifier votre mot de passe a expiré.
          </div>
        </div>
        <div
        *ngIf="error && error.error && error.error.data && error.error.data.password && error.error.data.password.regex"
          class="text-danger requisDiv"
          style="margin-top: 1rem"
        >
          <div>Le mot de passe doit inclure au moins une minuscule, une majuscule et un caractère spécial.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second column -->
<div class="col-lg-6 col-md-6">
  <div class="login_wrap widget-taber-content background-white">
    <div class="padding_eight_all bg-white">
      <div class="form-group mb-3">
        <div class="form-group">
          <input 
            [type]="showRepeatPassword ? 'text' : 'password'"
            placeholder="Confirmer le mot de passe"
            [(ngModel)]="userData.repeat_password"
            name="repeat_password"
            class="password-input"
            (ngModelChange)="clearError('repeat_password')"
          >
          <span class="eyeicon" (click)="toggleRepeatPasswordVisibility()">
            <i [ngClass]="showRepeatPassword ? 'fi-rs-eye' : 'fi-rr-eye-crossed'"></i>
          </span>
        </div>
        
        <div
          *ngIf="fieldErrors.repeat_password"
          class="text-danger requisDiv"
          style="margin-top: 1rem"
        >
          <div>Confirmer le mot de passe est requis.</div>
        </div>
        <div
          *ngIf="fieldErrors.passwordMismatch"
          class="text-danger requisDiv"
          style="margin-top: 1rem"
        >
          <div>Les mots de passe ne correspondent pas.</div>
        </div>
      </div>

    </div>
  </div>
</div>


              </div>

              <div class="payment_option mb-3">
                <!-- Payment options -->
              </div>



              <div class="form-group mb-30 text-end">
                <!-- Add 'text-end' class here -->
                <button
                  type="submit"
                  class="btn btn-fill-out btn-block hover-up font-weight-bold"
                  name="register"
                  (onClick)="onSubmit()"
                >
                  Soumettre & S'inscrire
                </button>
              </div>

              <p class="font-xs text-muted">
                <strong>Remarque:</strong> Vos données personnelles seront
                utilisées pour prendre en charge votre expérience sur notre
                site, pour gérer l'accès à votre compte et à d'autres fins
                décrites dans notre politique de confidentialité
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
<app-preloader></app-preloader>
