<div
  class="modal fade custom-modal"
  id="quickViewModal"
  tabindex="-1"
  aria-labelledby="quickViewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Fermer"
      ></button>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
            <div class="detail-gallery">
              <span class="zoom-icon"><i class="fi-rs-search"></i></span>
              <!-- IMAGES PRINCIPALES -->
              <div class="product-image-slider">
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-2.jpg"
                    alt="image du produit"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-1.jpg"
                    alt="image du produit"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-3.jpg"
                    alt="image du produit"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-4.jpg"
                    alt="image du produit"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-5.jpg"
                    alt="image du produit"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-6.jpg"
                    alt="image du produit"
                  />
                </figure>
                <figure class="border-radius-10">
                  <img
                    src="../../assets/imgs/shop/product-16-7.jpg"
                    alt="image du produit"
                  />
                </figure>
              </div>
              <!-- VIGNETTES -->
              <div class="slider-nav-thumbnails">
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-3.jpg"
                    alt="image du produit"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-4.jpg"
                    alt="image du produit"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-5.jpg"
                    alt="image du produit"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-6.jpg"
                    alt="image du produit"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-7.jpg"
                    alt="image du produit"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-8.jpg"
                    alt="image du produit"
                  />
                </div>
                <div>
                  <img
                    src="../../assets/imgs/shop/thumbnail-9.jpg"
                    alt="image du produit"
                  />
                </div>
              </div>
            </div>
            <!-- Fin Galerie -->
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="detail-info pr-30 pl-30">
              <span class="stock-status out-stock"> En Vente </span>
              <h3 class="title-detail">
                <a class="text-heading" href="/shop-product-right"
                  >Graines de Quinoa Bio, Brun</a
                >
              </h3>
              <div class="product-detail-rating">
                <div class="product-rate-cover text-end">
                  <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 90%"></div>
                  </div>
                  <span class="font-small ml-5 text-muted"> (32 avis)</span>
                </div>
              </div>
              <div class="clearfix product-price-cover">
                <div class="product-price primary-color float-left">
                  <span class="current-price text-brand">38 €</span>
                  <span>
                    <span class="save-price font-md color3 ml-15"
                      >26% de réduction</span
                    >
                    <span class="old-price font-md ml-15">52 €</span>
                  </span>
                </div>
              </div>
              <div class="detail-extralink mb-30">
                <div class="detail-qty border radius">
                  <a href="#" class="qty-down"
                    ><i class="fi-rs-angle-small-down"></i
                  ></a>
                  <span class="qty-val">1</span>
                  <a href="#" class="qty-up"
                    ><i class="fi-rs-angle-small-up"></i
                  ></a>
                </div>
                <div class="product-extra-link2">
                  <button type="submit" class="button button-add-to-cart">
                    <i class="fi-rs-shopping-cart"></i>Ajouter au panier
                  </button>
                </div>
              </div>
              <div class="font-xs">
                <ul>
                  <li class="mb-5">
                    Vendeur: <span class="text-brand">Nest</span>
                  </li>
                  <li class="mb-5">
                    Fabrication:<span class="text-brand"> 4 Juin 2024</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Infos Détail -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="header-area header-style-1 header-style-5 header-height-2">
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4">
          <div class="header-info">
            <ul>
              <li><a href="/qui-sommes-nous">À Propos</a></li>
              <li><a href="/page-account">Mon Compte</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4">
          <div class="text-center">
            <div id="news-flash" class="d-inline-block">
              <ul>
                <li>Explorez le site d'annonces le plus complet et efficace</li>
                <li>Découvrez la meilleure plateforme d'annonces en ligne</li>
                <li>Choisissez la référence des annonces en ligne</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="header-info header-info-right">
            <ul>
              <li>
                Besoin d'aide ? Appelez-nous :
                <strong class="text-brand"> +212600000000</strong>
              </li>
              <li>
                <a class="language-dropdown-active" href="#"
                  >Français <i class="fi-rs-angle-small-down"></i
                ></a>
                <ul class="language-dropdown">
                  <li>
                    <a href="#"
                      ><img
                        src="../../assets/imgs/theme/flag-fr.png"
                        alt=""
                      />Français</a
                    >
                  </li>
                  <!--                   <li>
                    <a href="#"
                      ><img
                        src="../../assets/imgs/theme/flag-dt.png"
                        alt=""
                      />Deutsch</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="../../assets/imgs/theme/flag-ru.png"
                        alt=""
                      />Pусский</a
                    >
                  </li> -->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="header-middle header-middle-ptb-1 d-none d-lg-block"
    style="margin-top: 1rem"
  >
    <div class="container">
      <div class="header-wrap">
        <div class="logo logo-width-1">
          <a href="/"
            ><img src="../../assets/imgs/theme/logo.png" alt="logo"
          /></a>
        </div>
        <div class="header-right">
          <div class="search-style-2">
            <form (ngSubmit)="onSubmit()">
              <select class="select-active">
                <ng-container *ngFor="let category of categories">
                  <option [value]="category.id">{{ category.name }}</option>
                </ng-container>
              </select>
              <input
                type="text"
                placeholder="Rechercher des annonces..."
                [(ngModel)]="searchQuery"
                name="search"
              />
              <i
                class="fi fi-rr-search"
                style="
                  font-size: x-large;
                  margin-top: 0.7rem;
                  margin-right: 1rem;
                "
                (click)="onSubmit()"
              ></i>
            </form>
          </div>
          <div class="header-action-right">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <div class="banner-text">
                  <link
                    rel="stylesheet"
                    href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
                  />
                  <a class="btn" href="/deposer_une_annonce"
                    ><i class="fi fi-rr-square-plus"></i> Déposer votre
                    annonce</a
                  >
                </div>
                <div
                  class="banner-text"
                  style="margin-top: auto; padding-left: inherit"
                  *ngIf="status"
                >
                  <link
                    rel="stylesheet"
                    href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
                  />
                  <a
                    class="btn"
                    href="/chat"
                    style="background: linear-gradient(45deg, #fdc040, #fdc040)"
                    ><i class="fi fi-rr-messages"></i> Messages
                  </a>
                </div>
                <div
                  class="banner-text"
                  style="
                    margin-top: auto;
                    padding-left: inherit;
                    padding-right: inherit;
                  "
                >
                  <link
                    rel="stylesheet"
                    href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
                  />
                  <a
                    class="btn"
                    href="/favoris"
                    style="background: linear-gradient(45deg, #fdc040, #fdc040)"
                    ><i class="fi fi-rr-heart"></i> Favoris
                  </a>
                </div>
              </div>
              <div class="header-action-icon-2">
                <a href="/page-account">
                  <img
                    class="svgInject"
                    alt="Nest"
                    src="../../assets/imgs/theme/icons/icon-user.svg"
                  />
                </a>
                <a href="/page-account"
                  ><span class="lable ml-0">{{ loggedInUserName }}</span></a
                >
                <div
                  class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown"
                  *ngIf="!status"
                >
                  <ul>
                    <li>
                      <a href="/login/"
                        ><i class="fi fi-rs-user mr-10"></i>Connexion</a
                      >
                    </li>
                    <li>
                      <a href="/register"
                        ><i class="fi fi-rs-user mr-10"></i>Créer un compte</a
                      >
                    </li>
                  </ul>
                </div>

                <div
                  class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown"
                  *ngIf="status"
                >
                  <ul>
                    <li>
                      <a href="/page-account#account-detail"
                        ><i class="fi fi-rs-user mr-10"></i>Mon compte</a
                      >
                    </li>
                    <li>
                      <a href="/deposer_une_annonce"
                        ><i class="fi fi-rr-square-plus mr-10"></i>Déposer votre
                        annonce</a
                      >
                    </li>
                    <li>
                      <a href="/page-account#orders"
                        ><i class="fi fi-rs-list mr-10"></i>Mes annonces</a
                      >
                    </li>
                    <li>
                      <a href="/favoris"
                        ><i class="fi fi-rr-heart mr-10"></i>Mes favoris</a
                      >
                    </li>
                    <li>
                      <a href="/chat"
                        ><i class="fi fi-rr-messages mr-10"></i>Mes Messages</a
                      >
                    </li>
                    <li>
                      <a href="/page-account#address"
                        ><i class="fi fi-rr-lock mr-10"></i>Mot de passe</a
                      >
                    </li>
                    <li>
                      <a (click)="logout()" href="javascript:void(0)">
                        <i class="fi fi-rs-sign-out mr-10"></i>Déconnexion
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
      <div class="header-wrap header-space-between position-relative">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a href="/"
            ><img src="../../assets/imgs/theme/logo_mobile.png" alt="logo"
          /></a>
        </div>
        <div class="header-nav d-none d-lg-flex">
          <div class="main-categori-wrap d-none d-lg-block">
            <a class="categories-button-active" href="#">
              <span class="fi-rs-apps"></span>
              <span class="et">Catégories</span> Tendance
              <i class="fi-rs-angle-down"></i>
            </a>
            <div
              class="categories-dropdown-wrap categories-dropdown-active-large font-heading"
            >
              <div class="d-flex categori-dropdown-inner">
                <ul>
                  <li *ngFor="let category of categories.slice(0, 5)">
                    <a (click)="navigateToCategory(category.id, category.slug)">
                      <img [src]="category?.media?.url" alt="" />{{
                        category.name
                      }}
                    </a>
                  </li>
                </ul>
                <ul class="end">
                  <li *ngFor="let category of categories.slice(5, 10)">
                    <a (click)="navigateToCategory(category.id, category.slug)">
                      <img [src]="category?.media?.url" alt="" />{{
                        category.name
                      }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="more_categories" (click)="toggleMoreCategories()">
                <span class="icon"></span>
                <span class="heading-sm-1">{{
                  showMore ? "Show less..." : "Show more..."
                }}</span>
              </div>
            </div>
          </div>

          <div
            class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading"
          >
            <nav>
              <ul>
                <!--                 <li class="hot-deals">
                  <img
                    src="../../assets/imgs/theme/icons/icon-hot-white.svg"
                    alt="offres spéciales"
                  /><a href="/shop-grid-right">Offres</a>
                </li> -->
                <li
                  class="position-static"
                  *ngFor="let category of categories.slice(0, 6)"
                >
                  <a href="javascript:void(0)">
                    {{ category.name }} <i class="fi-rs-angle-down"></i>
                  </a>
                  <ul class="mega-menu">
                    <ul style="width: 80%">
                      <li
                        class="sub-mega-menu sub-mega-menu-width-10 left-menu"
                        *ngFor="let subcategory of category.subcategories"
                      >
                        <a
                          class="menu-title"
                          href="javascript:void(0)"
                          (click)="
                            navigateToCategory(subcategory.id, subcategory.slug)
                          "
                        >
                          {{ subcategory.name }}
                        </a>
                        <ul *ngIf="subcategory.subsubscategories?.length">
                          <li
                            *ngFor="
                              let subsubcat of subcategory.subsubscategories.slice(
                                0,
                                4
                              )
                            "
                          >
                            <a
                              [href]="
                                '/ads-category/' +
                                subcategory.id +
                                '?' +
                                subsubcat.type +
                                '=' +
                                subsubcat.key
                              "
                            >
                              {{ subsubcat.value }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <li
                      class="sub-mega-menu sub-mega-menu-width-40 right-menu"
                      style="height: 35%; width: 30% !important"
                    >
                      <div
                        class="menu-banner-wrap"
                        style="width: 100%; height: 100%"
                      >
                        <a href="/deposer_une_annonce">
                          <img
                            style="border-radius: 1rem"
                            src="../../assets/imgs/slider/slider-1.png"
                            alt="Nest"
                          />
                        </a>
                        <div class="menu-banner-content">
                          <h3>
                            Ne laissez <br />
                            pas passer <br />
                            cette opportunité
                          </h3>
                          <div class="menu-banner-btn">
                            <a href="/deposer_une_annonce">
                              <i class="fi fi-rr-square-plus"></i>
                              Déposer votre annonce
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>

                <li class="position-static">
                  <a href="javascript:void(0)">
                    Autre <i class="fi-rs-angle-down"></i>
                  </a>
                  <ul class="mega-menu">
                    <ul style="width: 80%">
                      <li *ngFor="let category of categories.slice(6)">
                        <a
                          class="menu-title"
                          href="javascript:void(0)"
                          (click)="
                            navigateToCategory(category.id, category.slug)
                          "
                        >
                          {{ category.name }}
                        </a>

                        <ul>
                          <li
                            *ngFor="let subcategory of category.subcategories"
                          >
                            <a
                              href="javascript:void(0)"
                              (click)="
                                navigateToCategory(
                                  subcategory.id,
                                  subcategory.slug
                                )
                              "
                            >
                              {{ subcategory.name }}
                            </a>
                            <ul>
                              <li
                                *ngFor="
                                  let subsubcat of subcategory.subsubcategories
                                "
                              >
                                <a href="/shop-product-right">{{
                                  subsubcat.name
                                }}</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>

                    <li
                      class="sub-mega-menu sub-mega-menu-width-40 right-menu"
                      style="height: 35%; width: 30% !important"
                    >
                      <div
                        class="menu-banner-wrap"
                        style="width: 100%; height: 100%"
                      >
                        <a href="/deposer_une_annonce">
                          <img
                            style="border-radius: 1rem"
                            src="../../assets/imgs/slider/slider-1.png"
                            alt="Nest"
                          />
                        </a>
                        <div class="menu-banner-content">
                          <h3>
                            Ne laissez <br />
                            pas passer <br />
                            cette opportunité
                          </h3>
                          <div class="menu-banner-btn">
                            <a href="/deposer_une_annonce">
                              <i class="fi fi-rr-square-plus"></i>
                              Déposer votre annonce
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="hotline d-none d-lg-flex">
          <img
            src="../../assets/imgs/theme/icons/icon-headphone-white.svg"
            alt="hotline"
          />
          <p>06-60000000<span>Centre de support 24/7</span></p>
        </div>
        <div class="header-action-icon-2 d-block d-lg-none">
          <div class="burger-icon burger-icon-white">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
          </div>
        </div>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a lass="myicon" href="/favoris">
                <i class="fi fi-rr-heart"></i>
              </a>
            </div>

            <div class="header-action-icon-2 test">
              <a class="myicon">
                <i class="fi fi-rr-user"></i>
              </a>

              <div
                class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown"
                *ngIf="!status"
              >
                <ul>
                  <li>
                    <a href="/login/"
                      ><i class="fi fi-rs-user mr-10"></i>Connexion</a
                    >
                  </li>
                  <li>
                    <a href="/register"
                      ><i class="fi fi-rs-user mr-10"></i>Créer un compte</a
                    >
                  </li>
                </ul>
              </div>

              <div
                class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown"
                *ngIf="status"
              >
                <ul>
                  <li>
                    <a href="/page-account#account-detail"
                      ><i class="fi fi-rs-user mr-10"></i>Mon compte</a
                    >
                  </li>
                  <li>
                    <a href="/deposer_une_annonce"
                      ><i class="fi fi-rr-square-plus mr-10"></i>Déposer votre
                      annonce</a
                    >
                  </li>
                  <li>
                    <a href="/page-account#orders"
                      ><i class="fi fi-rs-list mr-10"></i>Mes annonces</a
                    >
                  </li>
                  <li>
                    <a href="/favoris"
                      ><i class="fi fi-rr-heart mr-10"></i>Mes favoris</a
                    >
                  </li>
                  <li>
                    <a href="/chat"
                      ><i class="fi fi-rr-messages mr-10"></i>Mes Messages</a
                    >
                  </li>
                  <li>
                    <a href="/page-account#address"
                      ><i class="fi fi-rr-lock mr-10"></i>Mot de passe</a
                    >
                  </li>
                  <li>
                    <a (click)="logout()" href="javascript:void(0)">
                      <i class="fi fi-rs-sign-out mr-10"></i>Déconnexion
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-top">
      <div class="mobile-header-logo">
        <a href="/"
          ><img src="../../assets/imgs/theme/logo.png" alt="logo"
        /></a>
      </div>
      <div
        class="mobile-menu-close close-style-wrap close-style-position-inherit"
      >
        <button class="close-style search-close">
          <i class="icon-top"></i>
          <i class="icon-bottom"></i>
        </button>
      </div>
    </div>
    <div class="mobile-header-content-area">
      <div class="mobile-search search-style-3 mobile-header-border">
        <form action="#">
          <input type="text" placeholder="Rechercher des annonces..." />
          <button type="submit"><i class="fi-rs-search"></i></button>
        </form>
      </div>
      <div class="mobile-search header-action-icon-2">
        <div class="banner-text">
          <link
            rel="stylesheet"
            href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
          />
          <a class="btn" href="/deposer_une_annonce" style="width: 100%"
            ><i class="fi fi-rr-square-plus"></i> Déposer votre annonce</a
          >
        </div>
      </div>
      <div class="mobile-search header-action-icon-2">
        <div class="banner-text">
          <link
            rel="stylesheet"
            href="https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
          />
          <a
            class="btn"
            href="/chat"
            style="
              background: linear-gradient(45deg, #fdc040, #fdc040);
              width: 100%;
            "
            ><i class="fi fi-rr-messages"></i> Messages
          </a>
        </div>
      </div>

      <div class="mobile-menu-wrap mobile-header-border">
        <!-- mobile menu start -->
        <nav>
          <ul class="mobile-menu font-heading">
            <li
              class="menu-item-has-children"
              *ngFor="let category of categories.slice()"
            >
              <span class="menu-expand"
                ><i class="fi-rs-angle-small-down"></i
              ></span>
              <a (click)="navigateToCategory(category.id, category.slug)">
                {{ category.name }}</a
              >
              <ul class="dropdown" style="display: none">
                <li
                  class="menu-item-has-children"
                  *ngFor="let subcategory of category.subcategories"
                >
                  <span class="menu-expand"
                    ><i class="fi-rs-angle-small-down"></i
                  ></span>
                  <a
                    (click)="
                      navigateToCategory(subcategory.id, subcategory.slug)
                    "
                    >{{ subcategory.name }}</a
                  >
                  <ul
                    class="dropdown"
                    style="display: none"
                    *ngIf="subcategory.subsubscategories?.length"
                  >
                    <li
                      *ngFor="
                        let subsubcat of subcategory.subsubscategories.slice(
                          0,
                          4
                        )
                      "
                    >
                      <a
                        [href]="
                          '/ads-category/' +
                          subcategory.id +
                          '?' +
                          subsubcat.type +
                          '=' +
                          subsubcat.key
                        "
                      >
                        {{ subsubcat.value }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- mobile menu end -->
      </div>
      <div class="mobile-header-info-wrap">
        <div class="single-mobile-header-info">
          <a
            ><i class="fi-rs-marker"></i> Avenue Yaacoub Almansour centre
            d'affaire Sara Guéliz ,Marrakech
          </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="/login/"
            ><i class="fi-rs-user"></i>Connexion / Créer un compte</a
          >
        </div>
        <div class="single-mobile-header-info">
          <a><i class="fi-rs-headphones"></i>(+212) - 600000000 </a>
        </div>
      </div>
      <div class="mobile-social-icon mb-50" style="text-align: center">
        <h6>Suivez-nous</h6>
        <a href="https://web.facebook.com/Onemakan.ma"
          ><img
            src="../../assets/imgs/theme/icons/icon-facebook-white.svg"
            alt=""
        /></a>
        <!--           <a href="#"
            ><img
              src="../../assets/imgs/theme/icons/icon-twitter-white.svg"
              alt=""
          /></a> -->
        <a href="https://www.instagram.com/onemakan.ma/"
          ><img
            src="../../assets/imgs/theme/icons/icon-instagram-white.svg"
            alt=""
        /></a>
        <!--           <a href="#"
            ><img
              src="../../assets/imgs/theme/icons/icon-pinterest-white.svg"
              alt=""
          /></a> -->
        <!--           <a href="#"
            ><img
              src="../../assets/imgs/theme/icons/icon-youtube-white.svg"
              alt=""
          /></a> -->
      </div>
      <div class="site-copyright">
        © 2024, Site d'annonces OneMakan Tous droits réservés .
      </div>
    </div>
  </div>
</div>
