<footer class="main" [class.padding-left-right]="isScreenSmall">
  <section class="newsletter mb-15 wow animate__animated animate__fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="position-relative newsletter-inner">
            <div class="newsletter-content">
              <h2 class="mb-20">{{ "publish_ads" | translate }}</h2>
              <p class="mb-45">
                {{ "start_now" | translate }}
                <span class="text-brand">{{ "brand_name" | translate }}</span>
              </p>
              <form class="form-subscriber d-flex">
                <input
                  type="email"
                  [attr.placeholder]="'email_placeholder' | translate"
                />
                <button class="btn" type="submit">
                  {{ "subscribe" | translate }}
                </button>
              </form>
            </div>
            <img src="../../assets/imgs/banner/banner-9.png" alt="newsletter" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="featured section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
          <div
            class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-delay="0"
          >
            <div class="banner-icon ml-10">
              <img src="../../assets/imgs/theme/icons/icon-1.png" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">
                {{ "announcements_for_all" | translate }}
              </h3>
              <p>{{ "publish_your_ads" | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div
            class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-delay=".1s"
          >
            <div class="banner-icon ml-10">
              <img src="../../assets/imgs/theme/icons/icon-2.png" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">{{ "easy_and_fast" | translate }}</h3>
              <p>{{ "publish_in_a_few_clicks" | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div
            class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-delay=".2s"
          >
            <div class="banner-icon ml-10">
              <img src="../../assets/imgs/theme/icons/icon-3.png" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">
                {{ "wide_target_audience" | translate }}
              </h3>
              <p>{{ "reach_a_wide_audience" | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div
            class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-delay=".3s"
          >
            <div class="banner-icon ml-10">
              <img src="../../assets/imgs/theme/icons/icon-4.png" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">
                {{ "personalized_options" | translate }}
              </h3>
              <p>{{ "customize_your_ads" | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
          <div
            class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
            data-wow-delay=".4s"
          >
            <div class="banner-icon ml-10">
              <img src="../../assets/imgs/theme/icons/icon-5.png" alt="" />
            </div>
            <div class="banner-text">
              <h3 class="icon-box-title">
                {{ "responsive_support" | translate }}
              </h3>
              <p>{{ "dedicated_assistance" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding footer-mid">
    <div class="container pt-15 pb-20">
      <div class="row">
        <div class="col">
          <div
            class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp"
            data-wow-delay="0"
          >
            <div class="logo mb-30">
              <a class="mb-15" href="/"
                ><img src="../../assets/imgs/theme/logo.png" alt="logo"
              /></a>
              <p class="font-lg text-heading">
                {{ "site_annonces" | translate }}
              </p>
            </div>
            <ul class="contact-infor">
              <li>
                <img
                  src="../../assets/imgs/theme/icons/icon-location.svg"
                  alt=""
                /><strong> {{ "adresse" | translate }} </strong>
                <span> {{ "adresse_detail" | translate }}</span>
              </li>
              <li>
                <img
                  src="../../assets/imgs/theme/icons/icon-contact.svg"
                  alt=""
                /><strong> {{ "appelez_nous" | translate }} </strong>
                <span> 0699050501 </span>
              </li>
              <li>
                <img
                  src="../../assets/imgs/theme/icons/icon-email-2.svg"
                  alt=""
                /><strong> {{ "email" | translate }} </strong
                ><span> {{ "email_detail" | translate }}</span>
              </li>
              <li>
                <img
                  src="../../assets/imgs/theme/icons/icon-clock.svg"
                  alt=""
                /><strong> {{ "horaires" | translate }} </strong>
                <span> {{ "horaires_detail" | translate }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="footer-link-widget col wow animate__animated animate__fadeInUp"
          data-wow-delay=".1s"
        >
          <h4 class="widget-title">{{ "a_propos" | translate }}</h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li>
              <a href="qui-sommes-nous">{{ "qui_sommes_nous" | translate }}</a>
            </li>
            <li>
              <a href="mentions_legales">{{
                "mentions_legales" | translate
              }}</a>
            </li>
            <li>
              <a href="/conditions_generales_de_ventes">
                {{ "conditions_generales" | translate }}
              </a>
            </li>
            <li>
              <a href="contact-nous">{{ "contactez_nous" | translate }}</a>
            </li>
          </ul>
        </div>
        <div
          class="footer-link-widget col wow animate__animated animate__fadeInUp"
          data-wow-delay=".2s"
        >
          <h4 class="widget-title">{{ "mon_compte" | translate }}</h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li>
              <a href="/login">{{ "connexion" | translate }}</a>
            </li>
            <li>
              <a href="/register">{{ "creer_compte" | translate }}</a>
            </li>
            <li>
              <a href="/page-account#orders">{{
                "mes_annonces" | translate
              }}</a>
            </li>
            <li>
              <a href="/favoris">{{ "mes_favoris" | translate }}</a>
            </li>
            <li>
              <a href="/chat">{{ "mes_messages" | translate }}</a>
            </li>
          </ul>
        </div>
        <div
          class="footer-link-widget col wow animate__animated animate__fadeInUp"
          data-wow-delay=".3s"
        >
          <h4 class="widget-title">
            {{ "categories_en_vedette" | translate }}
          </h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li *ngFor="let category of categoriesFooter.slice(0, 5)">
              <a (click)="navigateToCategory(category.id)">
                <span
                  *ngIf="
                    currentLanguage === 'ar' &&
                    category.category_langs &&
                    category.category_langs.length > 0
                  "
                >
                  {{ category.category_langs[0]?.name }}
                </span>
                <span *ngIf="currentLanguage !== 'ar'">
                  {{ category.name }}
                </span></a
              >
            </li>
          </ul>
        </div>
        <div
          class="footer-link-widget widget-install-app col wow animate__animated animate__fadeInUp"
          data-wow-delay=".4s"
        >
          <h4 class="widget-title">{{ "passerelles_paiement" | translate }}</h4>
          <img
            class=""
            src="../../assets/imgs/theme/payment-method.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <div
    class="container pb-30 wow animate__animated animate__fadeInUp"
    data-wow-delay="0"
  >
    <div class="row align-items-center">
      <div class="col-12 mb-30">
        <div class="footer-bottom"></div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <p class="font-sm mb-0">
          &copy; 2024, {{ "tous_droits_reserves" | translate }}
          <strong class="text-brand">
            {{ "copyright_brand" | translate }}</strong
          ><br />
        </p>
      </div>
      <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
        <div class="hotline d-lg-inline-flex mr-30">
          <img
            src="../../assets/imgs/theme/icons/phone-call.svg"
            alt="hotline"
            class="ml-10"
          />
          <p>
            {{ "hotline" | translate
            }}<span>{{ "hotline_hours" | translate }}</span>
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
        <div class="mobile-social-icon">
          <h6>{{ "suivez_nous" | translate }}</h6>
          <a href="https://web.facebook.com/Onemakan.ma" class="ml-5 mr-5"
            ><img
              src="../../assets/imgs/theme/icons/icon-facebook-white.svg"
              alt="{{ 'facebook' | translate }}"
          /></a>
          <a href="https://www.instagram.com/onemakan.ma/"
            ><img
              src="../../assets/imgs/theme/icons/icon-instagram-white.svg"
              alt="{{ 'instagram' | translate }}"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
