<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> <a href="/account" rel="nofollow">Compte</a>
        <span></span> Article en Cours d'Examen
      </div>
    </div>
  </div>
  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h1 class="title heading-1 style-3 mb-40">
            <span class="text-brand"
              >Votre article est en cours d'examen
              <img src="../../assets/imgs/clap.gif" style="width: 7%"
            /></span>
          </h1>
          <p class="font-xl mb-80">
            Votre article a été soumise avec succès et est actuellement en cours
            d'examen. Si vous souhaitez modifier votre article, veuillez vous
            rendre sur votre compte.
            <a href="/page-account#orders">Aller à mon compte</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
<app-preloader></app-preloader>
