<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"
          ><i class="fi-rs-home mr-5"></i>{{ "home" | translate }}</a
        >
        <span></span>
        <a href="/account" rel="nofollow">{{ "account" | translate }}</a>
        <span></span> {{ "ad_under_review" | translate }}
      </div>
    </div>
  </div>
  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h1 class="title heading-1 style-3 mb-40">
            <span class="text-brand">
              {{ "ad_under_review_message" | translate }}
              <img
                src="../../assets/imgs/clap.gif"
                style="width: 7%"
                alt="Clap GIF"
              />
            </span>
          </h1>
          <p class="font-xl mb-80">
            {{ "ad_submitted_successfully" | translate }}
            <a href="/page-account#orders">{{ "go_to_account" | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
<app-preloader></app-preloader>
