<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"
          ><i class="fi-rs-home mr-5"></i>{{ "home" | translate }}</a
        >
        <span></span> {{ "about_one_makan" | translate }} <span></span>
        {{ "who_we_are" | translate }}
      </div>
    </div>
  </div>

  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
          <section class="row align-items-end mb-50">
            <div class="col-lg-6 mb-lg-0 mb-md-5 mb-sm-5">
              <h4 class="mb-20 text-brand">
                {{ "how_can_we_help" | translate }}
              </h4>
              <h1 class="mb-30">
                {{ "let_us_know_how_we_can_help" | translate }}
              </h1>
              <p class="mb-20">
                {{ "one_makan_help_intro" | translate }}
              </p>
              <p>
                {{ "dedicated_to_quality_service" | translate }}
              </p>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <h5 class="mb-20">01. {{ "feedback" | translate }}</h5>
                  <p>
                    {{ "feedback_description" | translate }}
                  </p>
                </div>
                <div class="col-lg-6 mb-4">
                  <h5 class="mb-20">
                    02. {{ "employer_services" | translate }}
                  </h5>
                  <p>
                    {{ "employer_services_description" | translate }}
                  </p>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-4">
                  <h5 class="mb-20 text-brand">
                    03. {{ "billing_questions" | translate }}
                  </h5>
                  <p>
                    {{ "billing_questions_description" | translate }}
                  </p>
                </div>
                <div class="col-lg-6">
                  <h5 class="mb-20">
                    04. {{ "general_questions" | translate }}
                  </h5>
                  <p>
                    {{ "general_questions_description" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <section class="container mb-50 d-none d-md-block">
      <div class="border-radius-15 overflow-hidden">
        <div id="map-panes" class="leaflet-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3396.8629000652572!2d-8.012158924383744!3d31.637603974160488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzHCsDM4JzE1LjQiTiA4wrAwMCczNC41Ilc!5e0!3m2!1sfr!2sma!4v1717953427857!5m2!1sfr!2sma"
            width="1586"
            height="350"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
          <section class="mb-50">
            <div class="row mb-60">
              <div class="col-md-4 mb-4 mb-md-0">
                <h4 class="mb-15 text-brand">{{ "office" | translate }}</h4>
                {{ "address" | translate }}<br />
                Avenue Yacoub el Mansour<br />
                Guéliz, 40000, Marrakech, Maroc<br />
                <abbr title="Téléphone">{{ "phone" | translate }} :</abbr>
                (+212)6-99050501
                <br />
                <abbr title="Email">{{ "email" | translate }} :</abbr
                >support&#64;onemakan.ma<br />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-8">
                <div class="contact-from-area padding-20-row-col">
                  <h5 class="text-brand mb-10">
                    {{ "contact_form" | translate }}
                  </h5>
                  <h2 class="mb-10">{{ "leave_us_message" | translate }}</h2>
                  <p class="text-muted mb-30 font-sm">
                    {{ "email_privacy_notice" | translate }}
                  </p>
                  <form
                    [formGroup]="contactForm"
                    class="contact-form-style mt-30"
                    id="contact-form"
                  >
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="input-style mb-20">
                          <label
                            for="name"
                            style="
                              font-size: 1rem;
                              font-weight: 550;
                              color: #253d4e;
                            "
                            >{{ "name" | translate }}</label
                          >
                          <input
                            id="name"
                            formControlName="name"
                            name="name"
                            placeholder="{{ 'name' | translate }}"
                            type="text"
                          />
                        </div>
                        <div
                          *ngIf="
                            contactForm.get('name')?.invalid &&
                            contactForm.get('name')?.touched
                          "
                          class="error"
                          style="margin-bottom: 1rem; color: red"
                        >
                          <span
                            *ngIf="contactForm.get('name')?.errors?.['required']"
                            >{{ "name_required" | translate }}</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="input-style mb-20">
                          <label
                            for="email"
                            style="
                              font-size: 1rem;
                              font-weight: 550;
                              color: #253d4e;
                            "
                            >{{ "your_email" | translate }}</label
                          >
                          <input
                            style="direction: ltr"
                            id="email"
                            formControlName="email"
                            name="email"
                            type="email"
                          />
                        </div>
                        <div
                          *ngIf="
                            contactForm.get('email')?.invalid &&
                            contactForm.get('email')?.touched
                          "
                          class="error"
                          style="margin-bottom: 1rem; color: red"
                        >
                          <span
                            *ngIf="contactForm.get('email')?.errors?.['required']"
                            >{{ "email_required" | translate }}</span
                          >
                          <span
                            *ngIf="contactForm.get('email')?.errors?.['email']"
                            >{{ "email_invalid" | translate }}</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="input-style mb-20">
                          <label
                            for="phone"
                            style="
                              font-size: 1rem;
                              font-weight: 550;
                              color: #253d4e;
                            "
                            >{{ "your_phone" | translate }}</label
                          >
                          <input
                            id="phone"
                            formControlName="phone"
                            name="phone"
                            style="direction: ltr"
                            type="tel"
                          />
                        </div>
                        <div
                          *ngIf="
                            contactForm.get('phone')?.invalid &&
                            contactForm.get('phone')?.touched
                          "
                          class="error"
                          style="margin-bottom: 1rem; color: red"
                        >
                          <span
                            *ngIf="contactForm.get('phone')?.errors?.['pattern']"
                            >{{ "phone_invalid" | translate }}</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="input-style mb-20">
                          <label
                            for="object"
                            style="
                              font-size: 1rem;
                              font-weight: 550;
                              color: #253d4e;
                            "
                            >{{ "subject" | translate }}</label
                          >
                          <input
                            id="object"
                            formControlName="object"
                            name="object"
                            placeholder="{{ 'subject' | translate }}"
                            type="text"
                          />
                        </div>
                        <div
                          *ngIf="
                            contactForm.get('object')?.invalid &&
                            contactForm.get('object')?.touched
                          "
                          class="error"
                          style="margin-bottom: 1rem; color: red"
                        >
                          <span
                            *ngIf="contactForm.get('object')?.errors?.['required']"
                            >{{ "subject_required" | translate }}</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <div class="textarea-style mb-30">
                          <label
                            for="message"
                            style="
                              font-size: 1rem;
                              font-weight: 550;
                              color: #253d4e;
                            "
                            >{{ "message" | translate }}</label
                          >
                          <textarea
                            id="message"
                            formControlName="message"
                            name="message"
                            placeholder="{{ 'message' | translate }}"
                          ></textarea>
                        </div>
                        <div
                          *ngIf="
                            contactForm.get('message')?.invalid &&
                            contactForm.get('message')?.touched
                          "
                          class="error"
                          style="margin-bottom: 1rem; color: red"
                        >
                          <span
                            *ngIf="contactForm.get('message')?.errors?.['required']"
                            >{{ "message_required" | translate }}</span
                          >
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button
                          class="btn btn-brand mt-30"
                          type="submit"
                          [disabled]="contactForm.invalid"
                        >
                          {{ "send_message" | translate }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="contact-info">
                  <h5 class="text-brand mb-30">
                    {{ "contact_us" | translate }}
                  </h5>
                  <p>{{ "contact_info_description" | translate }}</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
<app-preloader></app-preloader>
