<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"
          ><i class="fi-rs-home ml-5"></i>{{ "home" | translate }}</a
        >
        <span></span> {{ "about_one_makan" | translate }} <span></span>
        {{ "who_we_are" | translate }}
      </div>
    </div>
  </div>

  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
          <section class="row align-items-center mb-50">
            <div class="col-lg-6">
              <img
                src="../../assets/imgs/people/person.png"
                alt="{{ 'person' | translate }}"
                class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4"
              />
            </div>
            <div class="col-lg-6">
              <div class="pl-15">
                <h2 class="mb-30">{{ "welcome_one_makan" | translate }}</h2>
                <p class="mb-25">
                  {{ "one_makan_description" | translate }}
                </p>
                <p class="mb-50">
                  {{ "commitment" | translate }}
                </p>
                <div
                  class="carausel-3-columns-cover position-relative"
                  style="direction: ltr"
                >
                  <div id="carausel-3-columns-arrows"></div>
                  <div
                    class="carausel-3-columns"
                    id="carausel-3-columns"
                    style="padding-right: 15px"
                  >
                    <img src="../../assets/imgs/people/silder1.png" alt="" />
                    <img src="../../assets/imgs/people/silder2.png" alt="" />
                    <img src="../../assets/imgs/people/silder3.png" alt="" />
                    <img src="../../assets/imgs/people/silder4.png" alt="" />
                    <img src="../../assets/imgs/people/silder5.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="text-center mb-50 pl-15">
            <h2 class="title style-3 mb-40" style="font-size: 2.2rem">
              {{ "what_we_offer" | translate }}
            </h2>
            <div class="row" style="padding-right: 15px">
              <div class="col-lg-4 col-md-6 mb-24">
                <div class="featured-card">
                  <img
                    src="assets/imgs/theme/icons/icon-1.png"
                    alt="{{ 'ads_for_all' | translate }}"
                  />
                  <h4>{{ "ads_for_all" | translate }}</h4>
                  <p>
                    {{ "ads_for_all_description" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-24">
                <div class="featured-card">
                  <img
                    src="assets/imgs/theme/icons/icon-2.png"
                    alt="{{ 'easy_and_fast' | translate }}"
                  />
                  <h4>{{ "easy_and_fast" | translate }}</h4>
                  <p>
                    {{ "easy_and_fast_description" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-24">
                <div class="featured-card">
                  <img
                    src="assets/imgs/theme/icons/icon-3.png"
                    alt="{{ 'large_target_audience' | translate }}"
                  />
                  <h4>{{ "large_target_audience" | translate }}</h4>
                  <p>
                    {{ "large_target_audience_description" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-24">
                <div class="featured-card">
                  <img
                    src="assets/imgs/theme/icons/icon-4.png"
                    alt="{{ 'custom_options' | translate }}"
                  />
                  <h4>{{ "custom_options" | translate }}</h4>
                  <p>
                    {{ "custom_options_description" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-24">
                <div class="featured-card">
                  <img
                    src="assets/imgs/theme/icons/icon-5.png"
                    alt="{{ 'responsive_support' | translate }}"
                  />
                  <h4>{{ "responsive_support" | translate }}</h4>
                  <p>
                    {{ "responsive_support_description" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="row align-items-center mb-50 pl-20">
            <div class="row mb-50 align-items-center">
              <div class="col-lg-7 pr-30">
                <img
                  src="../../assets/imgs/theme/about-5.png"
                  alt="{{ 'about_us' | translate }}"
                  class="mb-md-3 mb-lg-0 mb-sm-4"
                />
              </div>
              <div class="col-lg-5">
                <h4 class="mb-20 text-muted">
                  {{ "our_performance" | translate }}
                </h4>
                <h1 class="heading-1 mb-40" style="font-size: 2.3rem">
                  {{ "your_partner_for_ads" | translate }}
                </h1>
                <p class="mb-30">
                  {{ "one_makan_intro" | translate }}
                </p>
                <p>
                  {{ "commitment_description" | translate }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                <h3 class="mb-30">{{ "who_we_are" | translate }}</h3>
                <p>
                  {{ "who_we_are_description" | translate }}
                </p>
              </div>
              <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                <h3 class="mb-30">{{ "our_story" | translate }}</h3>
                <p>
                  {{ "our_story_description" | translate }}
                </p>
              </div>
              <div class="col-lg-4">
                <h3 class="mb-30">{{ "our_mission" | translate }}</h3>
                <p>
                  {{ "our_mission_description" | translate }}
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <section class="container blog mb-50 d-none d-md-block">
      <div class="row about-count">
        <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
          <h1 class="heading-1"><span class="count">5</span>+</h1>
          <h4>{{ "years_of_service" | translate }}</h4>
        </div>
        <div class="col-lg-1-5 col-md-6 text-center">
          <h1 class="heading-1"><span class="count">500</span>+</h1>
          <h4>{{ "satisfied_clients" | translate }}</h4>
        </div>
        <div class="col-lg-1-5 col-md-6 text-center">
          <h1 class="heading-1"><span class="count">1000</span>+</h1>
          <h4>{{ "published_ads" | translate }}</h4>
        </div>
        <div class="col-lg-1-5 col-md-6 text-center">
          <h1 class="heading-1"><span class="count">50</span>+</h1>
          <h4>{{ "available_categories" | translate }}</h4>
        </div>
        <div class="col-lg-1-5 text-center d-none d-lg-block">
          <h1 class="heading-1"><span class="">24/7</span></h1>
          <h4>{{ "online_support" | translate }}</h4>
        </div>
      </div>
    </section>
  </div>
</main>

<app-footer></app-footer>
<app-preloader></app-preloader>
