<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> Pages <span></span> Mon Compte
      </div>
    </div>
  </div>
  <div class="page-content pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="row">
            <div class="col-md-7">
              <div
                class="tab-content account dashboard-content"
                [ngClass]="{ 'pl-50': !isPhone() }"
              >
                <div class="card">
                  <div class="card-header">
                    <h3 class="mb-0">Ma liste d'offres d'emploi</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <div class="table-responsive shopping-summery">
                        <table class="table table-wishlist">
                          <thead>
                            <tr class="main-heading">
                              <th class="custome-checkbox start pl-30">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="checkbox"
                                  id="exampleCheckbox11"
                                  value=""
                                />
                                <label
                                  class="form-check-label"
                                  for="exampleCheckbox11"
                                ></label>
                              </th>
                              <th scope="col" colspan="2">Annonce</th>
                              <th scope="col">Prix</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                              <th scope="col" class="end">Supprimé</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="pt-30" *ngFor="let ad of paginatedAd">
                              <td class="custome-checkbox pl-30">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  name="checkbox"
                                  id="exampleCheckbox1"
                                  value=""
                                />
                                <label
                                  class="form-check-label"
                                  for="exampleCheckbox1"
                                ></label>
                              </td>
                              <td class="image product-thumbnail pt-40 image">
                                <img src="{{ ad.medias[0]?.url }}" alt="#" />
                              </td>
                              <td class="product-des product-name">
                                <h6>
                                  <a
                                    class="product-name mb-10"
                                    [href]="'/modifier-annonce/' + ad.id"
                                  >
                                    {{ ad.title | slice : 0 : 20
                                    }}{{ ad.title.length > 20 ? "..." : "" }}
                                  </a>
                                </h6>
                                <span class="font-small text-muted">{{
                                  extractDate(ad.created_at)
                                }}</span>
                              </td>
                              <td class="price" data-title="Prix">
                                <h3 class="text-brand">{{ ad.price }} DH</h3>
                              </td>
                              <td
                                class="text-center detail-info"
                                data-title="Status"
                              >
                                <span
                                  class="stock-status in-stock mb-0"
                                  [ngClass]="
                                    getStatusClass(ad.validation_status)
                                  "
                                >
                                  {{ getStatusInFrench(ad.validation_status) }}
                                </span>
                              </td>
                              <td class="action text-right" data-title="Action">
                                <a [href]="'/voir-cvs/' + ad.id">
                                  <button class="btn btn-sm btn-info">
                                    Voir les CVs
                                  </button>
                                </a>
                              </td>
                              <td class="text-center" data-title="Supprimer">
                                <a class="text-body" (click)="showDialog(ad)">
                                  <i class="fi-rs-trash"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p-dialog
                          [(visible)]="adDialog"
                          [style]="{ width: '20rem' }"
                          header="Confirmer la suppression"
                          [modal]="true"
                          styleClass="p-fluid"
                        >
                          <ng-template pTemplate="content">
                            <div>
                              <p>
                                Êtes-vous sûr de vouloir supprimer cette annonce
                                ?
                              </p>
                              <div class="payment_option">
                                <div *ngIf="reasons.length === 0">
                                  Aucune raison disponible
                                </div>
                                <div
                                  class="custome-radio"
                                  *ngFor="let reason of reasons"
                                >
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="reason"
                                    [id]="'option' + reason.id"
                                    [value]="reason.id"
                                    required
                                  />
                                  <label
                                    class="form-check-label"
                                    [for]="'option' + reason.id"
                                    >{{ reason.long_name }}</label
                                  >
                                </div>
                              </div>
                            </div>
                          </ng-template>

                          <ng-template pTemplate="footer">
                            <div style="padding: 1rem !important">
                              <button
                                pButton
                                pRipple
                                label="Annuler"
                                icon="pi pi-times"
                                class="p-button-text"
                                (click)="adDialog = false"
                              ></button>
                              <button
                                pButton
                                pRipple
                                label="Confirmer"
                                icon="pi pi-check"
                                class="p-button-danger"
                                (click)="confirmDeletion(selectedAd)"
                              ></button>
                            </div>
                          </ng-template>
                        </p-dialog>
                      </div>
                    </div>

                    <div
                      class="pagination-area mt-20 mb-20"
                      *ngIf="filteredAds.length > 0"
                    >
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                          <li
                            class="page-item"
                            [class.disabled]="currentPage === 1"
                          >
                            <a
                              class="page-link"
                              (click)="changePages(currentPage - 1)"
                            >
                              <i class="fi-rs-arrow-small-left"></i>
                            </a>
                          </li>
                          <li
                            *ngFor="let page of getPagesArrays()"
                            class="page-item"
                            [class.active]="page === currentPage"
                          >
                            <a class="page-link" (click)="changePages(page)">{{
                              page
                            }}</a>
                          </li>
                          <li
                            class="page-item"
                            [class.disabled]="currentPage === totalPages"
                          >
                            <a
                              class="page-link"
                              (click)="changePages(currentPage + 1)"
                            >
                              <i class="fi-rs-arrow-small-right"></i>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div
                class="tab-content account dashboard-content"
                [ngClass]="{ 'pl-50': !isPhone() }"
              >
                <div>
                  <iframe
                    src="../../assets/Admin_gestion_pages.pdf"
                    style="width: 100%; height: 700px"
                  ></iframe>
                </div>
                <div>
                  <!-- I agree button -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
