::ng-deep .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto !important;
}

::ng-deep .chat-conversation .conversation-list .ctext-wrap-content {
    padding: 12px 20px;
    /* background-color: #ECFFEC; */
    border-radius: 8px 8px 8px 0;
    color: #fff;
    position: relative;
    background: linear-gradient(45deg, #3BB77E, #3BB77E);
}

::ng-deep .mb-0 {
    margin-bottom: 0 !important;
    color: white;
    font-weight: 500;
}

::ng-deep .chat-conversation .conversation-list .ctext-wrap-content:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #3BB77E;
    border-top-color: #3BB77E;
    left: 0;
    right: auto;
    bottom: -10px;
}

::ng-deep .chat-conversation .list-unstyled .right .conversation-list .ctext-wrap .ctext-wrap-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    background-color: #f5f7fb !important;
    color: #343a40 !important;
    text-align: right;
    border-radius: 8px 8px 0 8px;
    background: linear-gradient(45deg, #f5f7fb, #f5f7fb);
}

::ng-deep .chat-conversation .list-unstyled .right .conversation-list .ctext-wrap .ctext-wrap-content p {
    color: #343a40 !important;
}


::ng-deep .chat-conversation .list-unstyled .right .conversation-list .ctext-wrap .ctext-wrap-content .chat-time {
    text-align: right !important;
    color: #7a7f9a !important;
}

::ng-deep .p-lg-4 {
    padding: 1rem !important;
}

@media (min-width: 992px) {
    ::ng-deep .border-top {
        padding: 1rem !important;
    }
}