<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> Pages <span></span> Mon compte
      </div>
    </div>
  </div>
  <div class="page-content pt-90 pb-90">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
          <div class="row">
            <div class="col-lg-6 col-md-8">
              <div class="login_wrap widget-taber-content background-white">
                <div class="padding_eight_all bg-white">
                  <div class="heading_s1">
                    <h1 class="mb-5">Connexion</h1>
                    <p class="mb-30">
                      Vous n'avez pas encore de compte?
                      <a href="/register">Créer un compte</a>
                    </p>
                  </div>
                  <form
                    method="post"
                    (ngSubmit)="onSubmit()"
                    #loginForm="ngForm"
                  >
                    <div class="form-group">
                      <input
                        type="email"
                        required
                        name="email"
                        placeholder="E-mail"
                        [(ngModel)]="userData.email"
                        class="form-control custom-spacing"
                        (ngModelChange)="clearError('email')"
                      />
                      <div
                        *ngIf="fieldErrors.email"
                        class="text-danger requisDiv"
                        style="margin-top: 1rem"
                      >
                        <div>E-mail est requis.</div>
                      </div>
                      <div
                        *ngIf="
                          error &&
                          error.error &&
                          error.error.data &&
                          error.error.data.email &&
                          error.error.data.email.unique
                        "
                        class="text-danger requisDiv"
                        style="margin-top: 1rem"
                      >
                        <div>Cet e-mail existe déjà.</div>
                      </div>
                      <div
                        *ngIf="
                          error &&
                          error.error &&
                          error.error.message === 'Account not activated'
                        "
                        class="text-danger requisDiv"
                        style="margin-top: 1rem"
                      >
                        <div>
                          Compte non activé, vérifiez votre email pour
                          l'activer.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-group">
                        <input
                          [type]="showPassword ? 'text' : 'password'"
                          placeholder=" Mot de passe"
                          [(ngModel)]="userData.password"
                          name="password"
                          class="password-input"
                          (ngModelChange)="clearError('password')"
                        />
                        <span
                          class="eyeicon"
                          (click)="togglePasswordVisibility()"
                        >
                          <i
                            [ngClass]="
                              showPassword ? 'fi-rs-eye' : 'fi-rr-eye-crossed'
                            "
                          ></i>
                        </span>
                      </div>

                      <div
                        *ngIf="fieldErrors.password"
                        class="text-danger requisDiv"
                        style="margin-top: 1rem"
                      >
                        <div>Mot de passe est requis.</div>
                      </div>
                      <div
                        *ngIf="
                          error &&
                          error.error &&
                          error.error.message === 'failure_identity_not_found'
                        "
                        class="text-danger requisDiv"
                        style="margin-top: 1rem"
                      >
                        <div>Email ou mot de passe incorrect.</div>
                      </div>
                    </div>
                    <div class="" style="float: right">
                      <a href="/reset-password">Mot de passe oublié?</a>
                    </div>
                    <div class="form-group mb-40" style="margin-top: 4rem">
                      <!-- Bouton de connexion aligné à droite -->
                      <button
                        type="submit"
                        class="btn btn-fill-out btn-block hover-up font-weight-bold float-end"
                        name="login"
                      >
                        Se connecter
                      </button>
                    </div>
                    <p class="font-xs text-muted" style="margin-top: 8rem">
                      <strong>Remarque:</strong> Veuillez saisir votre email et
                      votre mot de passe pour vous connecter à votre compte.
                    </p>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pr-30 d-none d-lg-block">
              <div class="card-login mt-115">
                <img src="../../assets/imgs/theme/logo.png" alt="" />
                <!--                <a href="#" class="social-login facebook-login">
                  <img
                    src="../../assets/imgs/theme/icons/logo-facebook.svg"
                    alt=""
                  />
                  <span style="font-size: 1rem">Continuer avec Facebook</span>
                </a>
                <a href="#" class="social-login google-login">
                  <img
                    src="../../assets/imgs/theme/icons/logo-google.svg"
                    alt=""
                  />
                  <span style="font-size: 1rem">Continuer avec Google</span>
                </a>
                <a href="#" class="social-login apple-login">
                  <img
                    src="../../assets/imgs/theme/icons/logo-apple.svg"
                    alt=""
                  />
                  <span style="font-size: 1rem">Continuer avec Apple</span>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

<app-preloader></app-preloader>
