<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> À Propos du OneMakan <span></span> Mentions légales
      </div>
    </div>
  </div>

  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
          <div class="row">
            <div class="col-lg-12">
              <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                <div class="single-header style-2">
                  <h2>Mentions légales</h2>
                </div>
                <div class="single-content mb-50">
                  {{ pageContent }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  <app-preloader></app-preloader>
</main>
