<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- IMAGES PRINCIPALES -->
                            <div class="product-image-slider">
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-2.jpg" alt="image du produit" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-1.jpg" alt="image du produit" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-3.jpg" alt="image du produit" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-4.jpg" alt="image du produit" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-5.jpg" alt="image du produit" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-6.jpg" alt="image du produit" />
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="../../assets/imgs/shop/product-16-7.jpg" alt="image du produit" />
                                </figure>
                            </div>
                            <!-- VIGNETTES -->
                            <div class="slider-nav-thumbnails">
                                <div><img src="../../assets/imgs/shop/thumbnail-3.jpg" alt="image du produit" /></div>
                                <div><img src="../../assets/imgs/shop/thumbnail-4.jpg" alt="image du produit" /></div>
                                <div><img src="../../assets/imgs/shop/thumbnail-5.jpg" alt="image du produit" /></div>
                                <div><img src="../../assets/imgs/shop/thumbnail-6.jpg" alt="image du produit" /></div>
                                <div><img src="../../assets/imgs/shop/thumbnail-7.jpg" alt="image du produit" /></div>
                                <div><img src="../../assets/imgs/shop/thumbnail-8.jpg" alt="image du produit" /></div>
                                <div><img src="../../assets/imgs/shop/thumbnail-9.jpg" alt="image du produit" /></div>
                            </div>
                        </div>
                        <!-- Fin Galerie -->
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-info pr-30 pl-30">
                            <span class="stock-status out-stock"> En Vente </span>
                            <h3 class="title-detail"><a class='text-heading' href='/shop-product-right'>Graines de Quinoa Bio, Brun</a></h3>
                            <div class="product-detail-rating">
                                <div class="product-rate-cover text-end">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (32 avis)</span>
                                </div>
                            </div>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <span class="current-price text-brand">38 €</span>
                                    <span>
                                        <span class="save-price font-md color3 ml-15">26% de réduction</span>
                                        <span class="old-price font-md ml-15">52 €</span>
                                    </span>
                                </div>
                            </div>
                            <div class="detail-extralink mb-30">
                                <div class="detail-qty border radius">
                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                    <span class="qty-val">1</span>
                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                </div>
                                <div class="product-extra-link2">
                                    <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Ajouter au panier</button>
                                </div>
                            </div>
                            <div class="font-xs">
                                <ul>
                                    <li class="mb-5">Vendeur: <span class="text-brand">Nest</span></li>
                                    <li class="mb-5">Fabrication:<span class="text-brand"> 4 Juin 2024</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Infos Détail -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header-area header-style-1 header-style-5 header-height-2">
    <div class="mobile-promotion">
        <span>Ouverture exceptionnelle, <strong>jusqu'à 15%</strong> de réduction sur tous les articles. Plus que <strong>3 jours</strong> restants</span>
    </div>
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><a href="page-about.html">À Propos</a></li>
                            <li><a href='/page-account'>Mon Compte</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Livraison 100% sécurisée sans contact avec le coursier</li>
                                <li>Offres de grande valeur - Économisez davantage avec des coupons</li>
                                <li>Bijoux tendance en argent, économisez jusqu'à 35% aujourd'hui</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>Besoin d'aide ? Appelez-nous : <strong class="text-brand"> +212699050501</strong></li>
                            <li>
                                <a class="language-dropdown-active" href="#">Français <i class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li>
                                        <a href="#"><img src="../../assets/imgs/theme/flag-fr.png" alt="" />Français</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../../assets/imgs/theme/flag-dt.png" alt="" />Deutsch</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../../assets/imgs/theme/flag-ru.png" alt="" />Pусский</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href='/'><img src="../../assets/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="#">
                            <select class="select-active">
                                <option>Les catégories</option>
                                <option>Lait et produits laitiers</option>
                                <option>Vins & Alcools</option>
                                <option>Vêtements & Beauté</option>
                                <option>Nourriture pour animaux & Jouets</option>
                                <option>Fast food</option>
                                <option>Matériel de pâtisserie</option>
                                <option>Légumes</option>
                                <option>Produits de la mer frais</option>
                                <option>Nouilles & Riz</option>
                                <option>Crème glacée</option>
                            </select>
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href='/shop-compare'>
                                    <img class="svgInject" alt="Nest" src="../../assets/imgs/theme/icons/icon-compare.svg" />
                                    <span class="pro-count blue">3</span>
                                </a>
                                <a href='/shop-compare'><span class="lable ml-0">Comparer</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='/shop-wishlist'>
                                    <img class="svgInject" alt="Nest" src="../../assets/imgs/theme/icons/icon-heart.svg" />
                                    <span class="pro-count blue">6</span>
                                </a>
                                <a href='/shop-wishlist'><span class="lable">Liste de souhaits</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class='mini-cart-icon' href='/shop-cart'>
                                    <img alt="Nest" src="../../assets/imgs/theme/icons/icon-cart.svg" />
                                    <span class="pro-count blue">2</span>
                                </a>
                                <a href='/shop-cart'><span class="lable">Panier</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href='/shop-product-right'><img alt="Nest" src="../../assets/imgs/shop/thumbnail-3.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href='/shop-product-right'>Sac décontracté Daisy</a></h4>
                                                <h4><span>1 × </span>800,00 €</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href='/shop-product-right'><img alt="Nest" src="../../assets/imgs/shop/thumbnail-2.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href='/shop-product-right'>Chemises en velours côtelé</a></h4>
                                                <h4><span>1 × </span>3200,00 €</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>4000,00 €</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a class='outline' href='/shop-cart'>Voir le panier</a>
                                            <a href='/shop-checkout'>Commander</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='/page-account'>
                                    <img class="svgInject" alt="Nest" src="../../assets/imgs/theme/icons/icon-user.svg" />
                                </a>
                                <a href='/page-account'><span class="lable ml-0">{{ loggedInUserName }}</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li>
                                            <a href='/page-account'><i class="fi fi-rs-user mr-10"></i>Mon compte</a>
                                        </li>
                                        <li>
                                            <a href='/page-account'><i class="fi fi-rs-location-alt mr-10"></i>Suivi des commandes</a>
                                        </li>
                                        <li>
                                            <a href='/page-account'><i class="fi fi-rs-label mr-10"></i>Mes bons</a>
                                        </li>
                                        <li>
                                            <a href='/shop-wishlist'><i class="fi fi-rs-heart mr-10"></i>Ma liste de souhaits</a>
                                        </li>
                                        <li>
                                            <a href='/page-account'><i class="fi fi-rs-settings-sliders mr-10"></i>Paramètres</a>
                                        </li>
                                        <li>
                                            <a href='/page-login'><i class="fi fi-rs-sign-out mr-10"></i>Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href='/'><img src="../../assets/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categories-button-active" href="#">
                            <span class="fi-rs-apps"></span> <span class="et">Catégories</span> Tendance
                            <i class="fi-rs-angle-down"></i>
                        </a>
                        <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                            <div class="d-flex categori-dropdown-inner">
                                <ul>
                                  <li *ngFor="let category of categories.slice(0, 5)">
                                    <a >
                                      <img [src]="category.icon_path" alt="" />{{ category.name }}
                                    </a>
                                  </li>
                                </ul>
                                <ul class="end">
                                  <li *ngFor="let category of categories.slice(5,10)">
                                    <a >
                                      <img [src]="category.icon_path" alt="" />{{ category.name }}
                                    </a>
                                  </li>
                                </ul>
                              </div>                              
                          <div class="more_categories" (click)="toggleMoreCategories()">
                            <span class="icon"></span>
                            <span class="heading-sm-1">{{ showMore ? 'Show less...' : 'Show more...' }}</span>
                          </div>
                        </div>
                      </div>
                      
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>
                                <li class="hot-deals"><img src="../../assets/imgs/theme/icons/icon-hot-white.svg" alt="offres spéciales" /><a href='/shop-grid-right'>Offres</a></li>
                                <li>
                                    <a class='active' href='/'>Accueil </a>
                                </li>                                
                                <li>
                                    <a href='/page-about'>À propos</a>
                                </li>                                
                                <li class="position-static">
                                    <a href="#">Immobilier <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Ventes immobilières</a>
                                            <ul>
                                                <li><a href='/shop-product-right'>Appartement</a></li>
                                                <li><a href='/shop-product-right'>Maison</a></li>
                                                <li><a href='/shop-product-right'>Terrain</a></li>
                                                <li><a href='/shop-product-right'>Voir tout</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
 
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Locations</a>
                                            <ul>
                                                <li><a href='/shop-product-right'>Appartement</a></li>
                                                <li><a href='/shop-product-right'>Maison</a></li>
                                                <li><a href='/shop-product-right'>Parking</a></li>
                                                <li><a href='/shop-product-right'>Voir tout</a></li>
                                            </ul>
                                            <a class="menu-title" style="margin-top: 1rem;" href="#">Immobilier Neuf</a>
                                            <ul>
                                                <li><a href='/shop-product-right'>Programmes logements neufs</a></li>
                                                <li><a href='/shop-product-right'>Promoteurs immobiliers</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Colocations</a>
                                            <a class="menu-title" style="margin-top: 1rem;" href="#">Bureaux & Commerces</a>
                                            <a class="menu-title" style="margin-top: 1rem;" href="#">Services de déménagement</a>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href='/shop-product-right'><img src="../../assets/imgs/banner/banner-menu.png" alt="Nest" /></a>
                                                <div class="menu-banner-content">
                                                    <h4>Hot deals</h4>
                                                    <h3>
                                                        Don't miss<br />
                                                        Trending
                                                    </h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price text-success">Save to 50%</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href='/shop-product-right'>Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>25%</span>
                                                        off
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="position-static">
                                    <a href="#">Véhicules <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Ventes immobilières</a>
                                            <ul>
                                                <li><a href='/shop-product-right'>Appartement</a></li>
                                                <li><a href='/shop-product-right'>Maison</a></li>
                                                <li><a href='/shop-product-right'>Terrain</a></li>
                                                <li><a href='/shop-product-right'>Voir tout</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
 
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Locations</a>
                                            <ul>
                                                <li><a href='/shop-product-right'>Appartement</a></li>
                                                <li><a href='/shop-product-right'>Maison</a></li>
                                                <li><a href='/shop-product-right'>Parking</a></li>
                                                <li><a href='/shop-product-right'>Voir tout</a></li>
                                            </ul>
                                            <a class="menu-title" style="margin-top: 1rem;" href="#">Immobilier Neuf</a>
                                            <ul>
                                                <li><a href='/shop-product-right'>Programmes logements neufs</a></li>
                                                <li><a href='/shop-product-right'>Promoteurs immobiliers</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Colocations</a>
                                            <a class="menu-title" style="margin-top: 1rem;" href="#">Bureaux & Commerces</a>
                                            <a class="menu-title" style="margin-top: 1rem;" href="#">Services de déménagement</a>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href='/shop-product-right'><img src="../../assets/imgs/banner/banner-menu.png" alt="Nest" /></a>
                                                <div class="menu-banner-content">
                                                    <h4>Hot deals</h4>
                                                    <h3>
                                                        Don't miss<br />
                                                        Trending
                                                    </h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price text-success">Save to 50%</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href='/shop-product-right'>Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>25%</span>
                                                        off
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='/blog-category-grid'>Blog <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href='/blog-category-grid'>Catégorie du Blog en Grille</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>                                
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-flex">
                    <img src="../../assets/imgs/theme/icons/icon-headphone-white.svg" alt="hotline" />
                    <p>06-61327755<span>Centre de support 24/7</span></p>
                </div>
                <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href='/shop-wishlist'>
                                <img alt="Nest" src="../../assets/imgs/theme/icons/icon-heart.svg" />
                                <span class="pro-count white">4</span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="#">
                                <img alt="Nest" src="../../assets/imgs/theme/icons/icon-cart.svg" />
                                <span class="pro-count white">2</span>
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href='/shop-product-right'><img alt="Nest" src="../../assets/imgs/shop/thumbnail-3.jpg" /></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href='/shop-product-right'>Plain Striola Shirts</a></h4>
                                            <h3><span>1 × </span>$800.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href='/shop-product-right'><img alt="Nest" src="../../assets/imgs/shop/thumbnail-4.jpg" /></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href='/shop-product-right'>Macbook Pro 2024</a></h4>
                                            <h3><span>1 × </span>$3500.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>Total <span>$383.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href='/shop-cart'>View cart</a>
                                        <a href='/shop-checkout'>Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href='/'><img src="../../assets/imgs/theme/logo.png" alt="logo" /></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…" />
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href='/page-contact'><i class="fi-rs-marker"></i> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href='/page-login'><i class="fi-rs-user"></i>Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">Follow Us</h6>
                <a href="#"><img src="../../assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                <a href="#"><img src="../../assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                <a href="#"><img src="../../assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                <a href="#"><img src="../../assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                <a href="#"><img src="../../assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">Copyright 2024 © Nest. All rights reserved. Powered by AliThemes.</div>
        </div>
    </div>
</div>