<app-header></app-header>

<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> <a href="/account" rel="nofollow">Compte</a>
        <span></span> Paiement Réussi
      </div>
    </div>
  </div>
  <div class="invoice invoice-content invoice-1 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="invoice-inner">
            <div class="invoice-info" id="invoice_wrapper">
              <div class="invoice-header">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="invoice-name">
                      <div class="logo">
                        <a href="index.html"
                          ><img
                            src="../../assets/imgs/theme/logo_mobile1.png"
                            alt="logo"
                            style="max-width: 50%"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="invoice-numb">
                      <h6 class="text-end mb-10 mt-20">
                        Date: {{ order.created_at | date : "dd MMM yyyy" }}
                      </h6>
                      <h6 class="text-end invoice-header-1">
                        TRANS ID : #{{ order.valid_payment.transaction_id }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="invoice-top">
                <div class="row"></div>
                <div class="row mt-2">
                  <div class="col-lg-9 col-md-6">
                    <h4 class="invoice-title-1 mb-10">Date de la facture :</h4>
                    <p class="invoice-from-1">
                      {{ order.created_at | date : "dd MMMM yyyy" }}
                    </p>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <h4 class="invoice-title-1 mb-10">Méthode de paiement</h4>
                    <p class="invoice-from-1">
                      Via {{ order.payments[0].payment_type }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="invoice-center">
                <div class="table-responsive">
                  <table class="table table-striped invoice-table">
                    <thead class="bg-active">
                      <tr>
                        <th>Option</th>
                        <th class="text-center">Duration</th>
                        <th class="text-right price-column">Prix</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders">
                        <td>
                          <div class="item-desc-1">
                            <span>{{ order.paid_option.name }}</span>
                            <small>{{ order.paid_option.description }}</small>
                          </div>
                        </td>
                        <td class="text-center">
                          {{ order.paid_option.duration }}
                        </td>
                        <td class="text-right price-column">
                          <strong>{{ order.paid_option.price }} DH</strong>
                        </td>
                      </tr>
                      <tr>
                        <td
                          colspan="2"
                          class="text-end f-w-600"
                          style="font-weight: 900"
                        >
                          Total
                        </td>
                        <td class="text-right price-column">
                          <strong>{{ order.valid_payment.amount }} DH</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="invoice-bottom">
                <div class="row">
                  <div class="col-sm-6">
                    <div>
                      <h3 class="invoice-title-1">Note Importante</h3>
                      <ul class="important-notes-list-1">
                        <li>
                          Tous les montants indiqués sur cette facture sont en
                          dirhams (DH).
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-offsite">
                    <div class="text-end">
                      <p class="mb-0 text-13">Merci pour votre confiance</p>
                      <p><strong>OneMakan </strong></p>
                      <div class="mobile-social-icon mt-50 print-hide">
                        <h6>Suivez-nous</h6>
                        <a href="https://web.facebook.com/Onemakan.ma"
                          ><img
                            src="../../assets/imgs/theme/icons/icon-facebook-white.svg"
                            alt=""
                        /></a>
                        <a href="https://www.instagram.com/onemakan.ma/"
                          ><img
                            src="../../assets/imgs/theme/icons/icon-instagram-white.svg"
                            alt=""
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="invoice-btn-section clearfix d-print-none">
              <a
                href="javascript:window.print()"
                class="btn btn-lg btn-custom btn-print hover-up"
              >
                <img src="../../assets/imgs/theme/icon-print.svg" alt="" />
                Imprimer
              </a>
              <a
                id="invoice_download_btn"
                class="btn btn-lg btn-custom btn-download hover-up"
              >
                <img src="../../assets/imgs/theme/icon-download.svg" alt="" />
                Télécharger
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
<app-preloader></app-preloader>
