::ng-deep p.font-xl.mb-80 {
    font-family: "Quicksand", sans-serif !important;
    font-weight: 700 !important;
}

::ng-deep .invoice-1 .invoice-header {
    background: rgba(0, 0, 0, 0.04) url(../../assets/imgs/header-bg-1.png) top left repeat;
}

::ng-deep .invoice .table> :not(caption)>*>* {
    padding: 15px 10px !important;
}


.price-column {
    width: 5rem;
    /* Set width to 5rem */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.invoice-table thead {
    background-color: #f8f9fa;
}

.invoice-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.invoice-table tbody tr:hover {
    background-color: #e9ecef;
}

.item-desc-1 {
    display: flex;
    flex-direction: column;
}

.item-desc-1 span {
    font-weight: bold;
}

.item-desc-1 small {
    color: #6c757d;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
    /* Align text to the end, useful for RTL languages */
}

@media print {
    body * {
        visibility: hidden;
    }

    #invoice_wrapper,
    #invoice_wrapper * {
        visibility: visible;
    }

    #invoice_wrapper {
        position: absolute;
        left: 0;
        top: 0;
    }

    .print-hide {
        display: none !important;
    }
}