<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"
          ><i class="fi-rs-home mr-5"></i>{{ "home" | translate }}</a
        >
        <span></span>
        <a href="/account" rel="nofollow">{{ "account" | translate }}</a>
        <span></span> {{ "account_validation" | translate }}
      </div>
    </div>
  </div>
  <div class="page-content pt-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto text-center">
          <h1 class="title heading-1 style-3 mb-40">
            <img src="../../assets/imgs/gifmaker_me.gif" />
            {{ "account_validation_email_sent" | translate }}
            <span class="text-brand"></span>
          </h1>
          <p class="font-xl mb-80">
            {{ "check_inbox" | translate }}
            <a href="/login">{{ "back_to_login" | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

<app-preloader></app-preloader>
