<app-header></app-header>
<main class="main pages">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Accueil</a>
        <span></span> Pages <span></span> Mon Compte
      </div>
    </div>
  </div>
  <div class="container mb-80 mt-50">
    <!--     <div class="row">
      <div class="col-lg-8 mb-40">
        <h1 class="heading-2 mb-10"></h1>
              <div class="d-flex justify-content-between">
          <h6 class="text-body">
            There are <span class="text-brand">3</span> products in your cart
          </h6>
        </div> 
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-7">
        <div class="row mb-50">
          <div class="col-lg-8 mb-sm-15 mb-lg-0 mb-md-3">
            <!--             <div class="toggle_info">
              <span
                ><i class="fi-rs-user mr-10"></i
                ><span class="text-muted font-lg"
                  >Already have an account?</span
                >
                <a
                  href="#loginform"
                  data-bs-toggle="collapse"
                  class="collapsed font-lg"
                  aria-expanded="false"
                  >Click here to login</a
                ></span
              >
            </div> -->
            <div class="panel-collapse collapse login_form" id="loginform">
              <div class="panel-body">
                <p class="mb-30 font-sm">
                  If you have shopped with us before, please enter your details
                  below. If you are a new customer, please proceed to the
                  Billing &amp; Shipping section.
                </p>
                <form method="post">
                  <div class="form-group">
                    <input
                      type="text"
                      name="email"
                      placeholder="Username Or Email"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                    />
                  </div>
                  <div class="login_footer form-group">
                    <div class="chek-form">
                      <div class="custome-checkbox">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="checkbox"
                          id="remember"
                          value=""
                        />
                        <label class="form-check-label" for="remember"
                          ><span>Remember me</span></label
                        >
                      </div>
                    </div>
                    <a href="#">Forgot password?</a>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-md" name="login">Log in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h4 class="mb-30">Les informations de l'annonce</h4>
          <form (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="title">Title</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  placeholder="Title"
                  [(ngModel)]="ad.title"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="price">Price</label>
                <input
                  type="text"
                  class="form-control"
                  name="price"
                  placeholder="Price"
                  [(ngModel)]="ad.price"
                  required
                />
              </div>
              <div class="form-group col-lg-6">
                <label for="city">City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  placeholder="City"
                  [(ngModel)]="ad.city"
                  required
                />
              </div>
            </div>
            <div class="row shipping_calculator">
              <div class="form-group col-lg-6">
                <label for="category">Category</label>
                <div class="select-menu">
                  <div
                    class="select-btn"
                    style="
                      margin-bottom: 1rem;
                      background: #fff;
                      border: 1px solid #ececec;
                      height: 64px;
                      box-shadow: none;
                      padding-left: 20px;
                      font-size: 16px;
                      width: 100%;
                    "
                    (click)="toggleOptions()"
                  >
                    <span class="sBtn-text" style="font-size: 13px">
                      <div style="display: flex; align-items: center">
                        <img
                          src="{{ selectedOption.parentCategoy?.media?.url }}"
                          *ngIf="selectedOption.name"
                          alt=""
                          class="iconUrl"
                          style="max-width: 2rem; margin-right: 1rem"
                        />
                        <p style="margin: 0">
                          {{
                            selectedOption.parentCategoy?.name || "Choisissez"
                          }}
                          <i
                            class="fi-rs-angle-right"
                            *ngIf="selectedOption.name"
                            style="
                              padding-left: 1rem;
                              padding-right: 0.5rem;
                              font-size: 15px;
                            "
                          ></i>
                          {{ selectedOption.name }}
                        </p>
                      </div>
                    </span>
                    <i class="bx bx-chevron-down"></i>
                  </div>
                  <ul
                    class="options"
                    [ngClass]="{
                      active: optionsVisible
                    }"
                    style="font-size: smaller"
                  >
                    <li
                      class="option"
                      *ngFor="let category of categories"
                      (click)="selectOption(category)"
                    >
                      <span
                        class="d-inline-flex align-items-center"
                        style="font-size: 13px"
                      >
                        <img
                          src="{{ category.parentCategoy?.media?.url }}"
                          alt=""
                          class="iconUrl"
                          style="max-width: 2rem; margin-right: 1rem"
                        />
                        {{ category.parentCategoy?.name }}
                        <i
                          class="fi-rs-angle-right"
                          style="
                            padding-left: 1rem;
                            padding-right: 0.5rem;
                            font-size: 15px;
                          "
                        ></i>
                        {{ category.name }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label for="postal_code">Postal Code</label>
                <div class="row">
                  <div
                    class="form-group col-md-12"
                    *ngFor="let setting of settings"
                  >
                    <div class="select-menu">
                      <label>{{ setting.label }}</label>

                      <div
                        class="select-btn"
                        style="
                          margin-bottom: 1rem;
                          background: #fff;
                          border: 1px solid #ececec;
                          height: 55px;
                          box-shadow: none;
                          padding-left: 20px;
                          font-size: 15px;
                          width: 100%;
                        "
                        (click)="toggledOptions(setting)"
                      >
                        <span class="sBtn-text">
                          <div style="display: flex; align-items: center">
                            {{
                              setting.selectedOption
                                ? setting.selectedOption.label
                                : setting.setting
                            }}
                          </div>
                        </span>
                        <i class="bx bx-chevron-down"></i>
                      </div>
                      <ul
                        class="options"
                        [class.active]="setting.optionsVisible"
                        style="font-size: smaller"
                      >
                        <li
                          class="option"
                          *ngFor="let option of parseOptions(setting.content)"
                          [value]="option.value"
                          (click)="selectdOptiond(option, setting)"
                        >
                          <span class="d-inline-flex align-items-center">
                            {{ option.label }}
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  rows="50"
                  name="description"
                  placeholder="Description"
                  [(ngModel)]="ad.description"
                  required
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <input
                  required=""
                  type="text"
                  name="cname"
                  placeholder="Company Name"
                />
              </div>
              <div class="form-group col-lg-6">
                <input
                  required=""
                  type="text"
                  name="email"
                  placeholder="Email address *"
                />
              </div>
            </div>
            <div class="form-group mb-30">
              <textarea
                rows="5"
                placeholder="Additional information"
              ></textarea>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <div class="custome-checkbox">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="checkbox"
                    id="createaccount"
                  />
                  <label
                    class="form-check-label label_info"
                    data-bs-toggle="collapse"
                    href="#collapsePassword"
                    data-target="#collapsePassword"
                    aria-controls="collapsePassword"
                    for="createaccount"
                    ><span>Create an account?</span></label
                  >
                </div>
              </div>
            </div>
            <div
              id="collapsePassword"
              class="form-group create-account collapse in"
            >
              <div class="row">
                <div class="col-lg-6">
                  <input
                    required=""
                    type="password"
                    placeholder="Password"
                    name="password"
                  />
                </div>
              </div>
            </div>
            <div class="ship_detail">
              <div class="form-group">
                <div class="chek-form">
                  <div class="custome-checkbox">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="differentaddress"
                    />
                    <label
                      class="form-check-label label_info"
                      data-bs-toggle="collapse"
                      data-target="#collapseAddress"
                      href="#collapseAddress"
                      aria-controls="collapseAddress"
                      for="differentaddress"
                      ><span>Ship to a different address?</span></label
                    >
                  </div>
                </div>
              </div>
              <div id="collapseAddress" class="different_address collapse in">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input
                      type="text"
                      required=""
                      name="fname"
                      placeholder="First name *"
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <input
                      type="text"
                      required=""
                      name="lname"
                      placeholder="Last name *"
                    />
                  </div>
                </div>
                <div class="row shipping_calculator">
                  <div class="form-group col-lg-6">
                    <input
                      required=""
                      type="text"
                      name="cname"
                      placeholder="Company Name"
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <div class="custom_select w-100">
                      <select class="form-control select-active">
                        <option value="">Select an option...</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input
                      type="text"
                      name="billing_address"
                      required=""
                      placeholder="Address *"
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <input
                      type="text"
                      name="billing_address2"
                      required=""
                      placeholder="Address line2"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input
                      required=""
                      type="text"
                      name="state"
                      placeholder="State / County *"
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <input
                      required=""
                      type="text"
                      name="city"
                      placeholder="City / Town *"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input
                      required=""
                      type="text"
                      name="zipcode"
                      placeholder="Postcode / ZIP *"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="border p-40 cart-totals ml-30 mb-50">
          <div class="d-flex align-items-end justify-content-between mb-30">
            <h4>Les images</h4>
            <h6 class="text-muted">Count: {{ ad.medias?.length }}</h6>
          </div>
          <div class="divider-2 mb-30"></div>
          <div class="table-responsive order_table checkout">
            <table class="table no-border">
              <tbody>
                <tr *ngFor="let media of ad.medias">
                  <td>
                    <img [src]="media.url" alt="Ad Image" style="width: 100%" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="payment ml-30">
          <h4 class="mb-30">Payment</h4>
          <div class="payment_option">
            <div class="custome-radio">
              <input
                class="form-check-input"
                required=""
                type="radio"
                name="payment_option"
                id="exampleRadios3"
                checked=""
              />
              <label
                class="form-check-label"
                for="exampleRadios3"
                data-bs-toggle="collapse"
                data-target="#bankTranfer"
                aria-controls="bankTranfer"
                >Direct Bank Transfer</label
              >
            </div>
            <div class="custome-radio">
              <input
                class="form-check-input"
                required=""
                type="radio"
                name="payment_option"
                id="exampleRadios4"
                checked=""
              />
              <label
                class="form-check-label"
                for="exampleRadios4"
                data-bs-toggle="collapse"
                data-target="#checkPayment"
                aria-controls="checkPayment"
                >Cash on delivery</label
              >
            </div>
            <div class="custome-radio">
              <input
                class="form-check-input"
                required=""
                type="radio"
                name="payment_option"
                id="exampleRadios5"
                checked=""
              />
              <label
                class="form-check-label"
                for="exampleRadios5"
                data-bs-toggle="collapse"
                data-target="#paypal"
                aria-controls="paypal"
                >Online Getway</label
              >
            </div>
          </div>
          <div class="payment-logo d-flex">
            <img
              class="mr-15"
              src="assets/imgs/theme/icons/payment-paypal.svg"
              alt=""
            />
            <img
              class="mr-15"
              src="assets/imgs/theme/icons/payment-visa.svg"
              alt=""
            />
            <img
              class="mr-15"
              src="assets/imgs/theme/icons/payment-master.svg"
              alt=""
            />
            <img src="assets/imgs/theme/icons/payment-zapper.svg" alt="" />
          </div>
          <a href="#" class="btn btn-fill-out btn-block mt-30"
            >Place an Order<i class="fi-rs-sign-out ml-15"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  <app-preloader></app-preloader>
</main>
