<app-header></app-header>
<main class="main">
  <div class="page-header mt-30 mb-50">
    <div class="container">
      <!--       <div class="archive-header" style="padding-bottom: 0px">
 -->
      <div class="archive-header">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <h1 class="mb-15">{{ category.name }}</h1>
            <div class="breadcrumb">
              <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
              <span *ngIf="categoryParent?.name; else noParent">
                {{ categoryParent.name }}
              </span>
              <ng-template #noParent>
                <span></span> {{ category.name }}
              </ng-template>
            </div>
          </div>
          <!--           <div
            class="col-xl-12 text-end d-none d-xl-block"
            style="margin-top: 2rem"
            *ngIf="filters !== null"
          >
            <div class="shop-product-fillter">
              <div class="totall-product"></div>
              <div class="sort-by-product-area">
                <div
                  class="sort-by-cover mr-10"
                  *ngFor="let key of getFiltersKeys()"
                >
                  <div
                    class="sort-by-product-wrap"
                    style="width: max-content"
                    *ngIf="
                      filters[key].type === 'select' && !filters[key].dependant
                    "
                  >
                    <div class="sort-by">
                      <span
                        ><i class="fi-rs-apps"></i
                        >{{ filters[key].label }} :</span
                      >
                    </div>
                    <div class="sort-by-dropdown-wrap">
                      {{ filters[key].selectedOption?.substring(0, 7) }}
                      <span><i class="fi-rs-angle-small-down"></i></span>
                    </div>
                  </div>
                  <div class="sort-by-dropdown">
                    <ul style="max-height: 185px; overflow-y: auto">
                      <li (click)="selectOption(key, 'all')">
                        <a [class.active]="!filters[key].selectedOption"
                          >Tous</a
                        >
                      </li>
                      <ng-container *ngIf="!filters[key].route">
                        <li
                          *ngFor="let option of filters[key].options | keyvalue"
                          (click)="selectOptioneds(key, option.key)"
                        >
                          <a [class.active]="isSelected(key, option.key)">{{
                            option.value
                          }}</a>
                        </li>
                      </ng-container>
                      <ng-container *ngIf="filters[key].route">
                        <ng-container
                          *ngFor="
                            let optionKey of getNestedKeys(filters[key].options)
                          "
                        >
                          <li>
                            <strong>{{ optionKey }}</strong>
                          </li>
                          <li
                            *ngFor="
                              let option of getNestedOptions(
                                filters[key].options[optionKey]
                              )
                            "
                            (click)="selectOption(key, option.key)"
                          >
                            <a [class.active]="isSelected(key, option.key)">{{
                              option.value
                            }}</a>
                          </li>
                        </ng-container>
                      </ng-container>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="shop-product-fillter"
              [ngClass]="{ 'display-contents': matchingFilters === null }"
              *ngIf="matchingFilters !== null"
            >
              <div class="totall-product"></div>
              <div class="sort-by-product-area">
                <div
                  class="sort-by-cover mr-10"
                  *ngFor="let filter of getFiltersWitoutCheck()"
                >
                  <div
                    class="sort-by-product-wrap"
                    *ngIf="filter.type === 'int'"
                  >
                    <div class="form-group">
                      <label style="float: left">
                        <i
                          class="fi fi-rr-settings-sliders"
                          style="margin-right: 1rem"
                        ></i>
                        {{ filter.label }}</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="filter.selectedOption"
                        (input)="filterOption($event, filter)"
                        style="height: revert"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-30">
    <div class="row">
      <div
        class="col-lg-1-5 primary-sidebar sticky-sidebar"
        *ngIf="isScreenphone"
      >
        <div class="row">
          <div class="col">
            <!-- shop-filter-toogle -->
            <a class="shop-filter-toogle">
              <span class="fi-rs-filter mr-5"></span>
              Filters
              <i class="fi-rs-angle-small-down angle-down"></i>
              <i class="fi-rs-angle-small-up angle-up"></i>
            </a>
          </div>
          <div class="col">
            <!-- shop-filter-toogle -->
            <a
              class="shop-filter-toogled filter-drawer-button"
              (click)="mobileHeaderActive()"
            >
              <span class="fi-rs-filter mr-5"></span>
              Plus Filters
            </a>
          </div>
        </div>
        <div class="shop-product-fillter-header" style="display: none">
          <!-- Fillter By Price -->
          <div class="sidebar-widget widget-category-2 mb-30">
            <h5 class="section-title style-1 mb-30">Rechercher :</h5>
            <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
              <input
                type="text"
                placeholder="Rechercher......."
                [(ngModel)]="searchTitle"
                (input)="filterAdsByTitle(searchTitle)"
                class="form-control"
                style="width: 100%"
              />
            </div>
          </div>

          <div
            class="sidebar-widget widget-category-2 mb-30"
            *ngIf="!vissibleCategory"
          >
            <h5 class="section-title style-1 mb-30">Catégorie :</h5>
            <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
              <div>
                <ul>
                  <li *ngFor="let category of displayedCategoriesMobile">
                    <a [href]="'/ads-category/' + category.id">
                      <img
                        [src]="category.media?.url"
                        alt="{{ category.name }}"
                      />
                      {{ category.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div
                class="more_slide_open"
                [style.display]="showMore ? 'block' : 'none'"
              >
                <div class="d-flex categori-dropdown-inner">
                  <ul>
                    <li
                      class="mylist"
                      *ngFor="let category of hiddenCategoriesMobile"
                    >
                      <a [href]="'/ads-category/' + category.id">
                        <img
                          [src]="category.icon_path"
                          alt="{{ category.name }}"
                        />
                        {{ category.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="more_categories" (click)="toggleShowMore()">
                <span class="icon"></span>
                <span class="heading-sm-1">{{
                  showMore ? "Voir moins..." : "Voir plus..."
                }}</span>
              </div>
            </div>
          </div>

          <div
            class="sidebar-widget widget-category-2 mb-30"
            *ngIf="vissibleCategory"
          >
            <h5 class="section-title style-1 mb-30">Catégorie</h5>
            <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
              <div>
                <ul>
                  <li *ngFor="let categorys of displayedCategoriesParentMobile">
                    <a [href]="'/ads-category/' + categorys.id">
                      <img
                        [src]="category.media?.url"
                        alt="{{ categorys.name }}"
                      />
                      {{ categorys.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div
                class="more_slide_open"
                [style.display]="showMore ? 'block' : 'none'"
              >
                <div class="d-flex categori-dropdown-inner">
                  <ul>
                    <li
                      class="mylist"
                      *ngFor="let categorys of hiddenCategoriesParentMobile"
                    >
                      <a [href]="'/ads-category/' + category.id">
                        <img
                          [src]="category.media?.url"
                          alt="{{ categorys.name }}"
                        />
                        {{ categorys.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="more_categories" (click)="toggleShowMore()">
                <span class="icon"></span>
                <span class="heading-sm-1">{{
                  showMore ? "Voir moins..." : "Voir plus..."
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4-5"
        style="
          padding-right: calc(var(--bs-gutter-x) * 0.5);
          padding-left: calc(var(--bs-gutter-x) * 0.5);
        "
      >
        <div class="shop-product-fillter filter">
          <div class="totall-product">
            <p>
              Nous avons trouvé
              <strong class="text-brand">{{ ads.length }}</strong>
              annonces pour vous !
            </p>
          </div>
          <div class="sort-by-product-area" *ngIf="!isScreenphone">
            <div class="sort-by-cover mr-10">
              <div class="sort-by-product-wrap">
                <div class="sort-by">
                  <span><i class="fi-rs-apps"></i>Afficher :</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                  <span
                    >{{ adsPerPage }} <i class="fi-rs-angle-small-down"></i
                  ></span>
                </div>
              </div>
              <div class="sort-by-dropdown">
                <ul>
                  <li>
                    <a
                      [class.active]="adsPerPage === 10"
                      (click)="changeAdsPerPage(10)"
                      >10</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="adsPerPage === 20"
                      (click)="changeAdsPerPage(20)"
                      >20</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="adsPerPage === 50"
                      (click)="changeAdsPerPage(50)"
                      >50</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="adsPerPage === filteredAds.length"
                      (click)="changeAdsPerPage(filteredAds.length)"
                      >Tout</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="sort-by-cover mr-10">
              <div class="sort-by-product-wrap">
                <div class="sort-by">
                  <span><i class="fi-rs-apps-sort"></i>Trier par :</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                  <span
                    >{{ getSortOptionLabel(sortOption) }}
                    <i class="fi-rs-angle-small-down"></i
                  ></span>
                </div>
              </div>
              <div class="sort-by-dropdown">
                <ul>
                  <li>
                    <a
                      [class.active]="sortOption === 'featured'"
                      (click)="changeSortOption('featured')"
                      >Mis en avant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'priceLowToHigh'"
                      (click)="changeSortOption('priceLowToHigh')"
                      >Prix : croissant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'priceHighToLow'"
                      (click)="changeSortOption('priceHighToLow')"
                      >Prix : décroissant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'releaseDate'"
                      (click)="changeSortOption('releaseDate')"
                      >Date de sortie</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!--             <button
              (click)="toggleFilterDrawer()"
              style="
                max-width: 44px;
                width: 100%;
                height: 44px;
                padding: 8px;
                border-radius: 50%;
                background-color: rgb(46, 107, 255);
                display: flex;
                align-items: center;
                background: #fff;
                border: 1px solid #f7f8f9;
                color: #777;
                padding: 8px 13px;
                border-radius: 10px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                border: 1px solid #ececec;
                margin-left: 1rem;
              "
              class="filter-drawer-button"
            >
              <i style="color: #777" class="fi fi-rs-settings-sliders"></i>
            </button> -->
          </div>
          <div class="sort-by-product-area" style="" *ngIf="isScreenphone">
            <div class="sort-by-cover" class="width:max-content">
              <div class="sort-by-product-wrap">
                <div class="sort-by">
                  <span><i class="fi-rs-apps-sort"></i>Trier par :</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                  <span
                    >{{ getSortOptionLabel(sortOption) }}
                    <i class="fi-rs-angle-small-down"></i
                  ></span>
                </div>
              </div>
              <div class="sort-by-dropdown">
                <ul>
                  <li>
                    <a
                      [class.active]="sortOption === 'featured'"
                      (click)="changeSortOption('featured')"
                      >Mis en avant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'priceLowToHigh'"
                      (click)="changeSortOption('priceLowToHigh')"
                      >Prix : croissant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'priceHighToLow'"
                      (click)="changeSortOption('priceHighToLow')"
                      >Prix : décroissant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'releaseDate'"
                      (click)="changeSortOption('releaseDate')"
                      >Date de sortie</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <!--             
            <button
              style="
                max-width: 44px;
                width: 100%;
                height: 44px;
                padding: 8px;
                border-radius: 50%;
                background-color: rgb(46, 107, 255);
                display: flex;
                align-items: center;
                background: #fff;
                border: 1px solid #f7f8f9;
                color: #777;
                padding: 8px 13px;
                border-radius: 10px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                border: 1px solid #ececec;
                margin-left: 1rem;
              "
              class="filter-drawer-button"
              (click)="mobileHeaderActive()"
            >
              <i style="color: #777" class="fi fi-rs-settings-sliders"></i>
            </button> -->
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div
              [ngClass]="{
                'col-lg-2 col-md-6 col-12': !isScreenphone,
                'col-6': isScreenphone
              }"
              *ngFor="let ad of paginatedAds "
            >
              <div
                class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn"
              >
                <div class="product-img-action-wrap">
                  <div
                    class="product-img product-img-zoom"
                    style="height: 240px"
                  >
                    <a [href]="'/ads/' + ad.id" style="height: 100%">
                      <img
                        class="default-img"
                        [src]="ad.medias[0]?.url"
                        alt=""
                      />
                      <img
                        class="hover-img"
                        [src]="ad.medias[1]?.url || ad.medias[0]?.url"
                        alt=""
                        style="height: 100%"
                      />
                    </a>
                  </div>

                  <div class="product-action-1">
                    <a
                      aria-label="Ajouter à la liste de souhaits"
                      class="action-btn"
                      (click)="addToFavorites(ad)"
                    >
                      <img
                        *ngIf="ad.favorites?.length > 0"
                        src="../../assets/imgs/coeur.png"
                        style="width: 15px; margin-left: 1px"
                      />
                      <i
                        *ngIf="ad.favorites?.length === 0 || !ad.favorites"
                        class="fi fi-rs-heart"
                      ></i>
                    </a>
                  </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category" style="margin-top: 1rem">
                    <a [href]="'/ads-category/' + ad.category?.id">{{
                      ad.category.name
                    }}</a>
                  </div>
                  <h2>
                    <a [href]="'/ads/' + ad.id">
                      {{ ad.title | slice : 0 : 17
                      }}{{ ad.title.length > 17 ? "..." : "" }}
                    </a>
                  </h2>
                  <div class="product-rate-cover">
                    <div
                      class=""
                      style="
                        width: 100%;
                        font-weight: 800;
                        font-size: medium;
                        color: black;
                      "
                    >
                      {{ ad.price }} DH
                    </div>
                  </div>
                  <div>
                    <span class="font-small text-muted">
                      {{ getRelativeTime(ad.created_at) }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row product-grid">
          <div
            *ngFor="let ad of category.value"
            class="col-lg-2 col-md-4 col-12 col-sm-6"
          >
            <div class="product-cart-wrap mb-30">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom" style="height: 240px">
                  <a [href]="'/ads/' + ad.id" style="height: 100%">
                    <img
                      class="default-img"
                      [src]="
                        ad.medias[0]?.url || 'assets/imgs/shop/default-img.jpg'
                      "
                      alt="{{ ad.title }}"
                    />
                    <img
                      class="hover-img"
                      [src]="ad.medias[1]?.url || ad.medias[0]?.url"
                      alt=""
                      style="height: 100%"
                    />
                  </a>
                </div>

                <div class="product-action-1">
                  <a
                    aria-label="Ajouter à la liste de souhaits"
                    class="action-btn"
                    (click)="addToFavorites(ad)"
                  >
                    <img
                      *ngIf="ad.favorites?.length > 0"
                      src="../../assets/imgs/coeur.png"
                      style="width: 15px; margin-left: 1px"
                    />
                    <i
                      *ngIf="ad.favorites?.length === 0 || !ad.favorites"
                      class="fi fi-rs-heart"
                    ></i>
                  </a>
                </div>
                <div
                  class="product-badges product-badges-position product-badges-mrg"
                >
                  <span *ngIf="ad.urgent" class="hot">Urgent</span>
                </div>
              </div>
              <div class="product-content-wrap">
                <div class="product-category">
                  <a [href]="'/ads-category/' + ad.category?.id">{{
                    ad.category.name
                  }}</a>
                </div>
                <h2>
                  <a [href]="'/ads/' + ad.id"
                    >{{ ad.title | slice : 0 : 17
                    }}{{ ad.title.length > 17 ? "..." : "" }}</a
                  >
                </h2>
                <div class="product-price">
                  <span
                    >{{ ad.price | slice : 0 : 10
                    }}{{ ad.price.length > 10 ? "..." : "" }} DH</span
                  >
                </div>
                <div>
                  <span class="font-small text-muted">{{
                    getRelativeTime(ad.created_at)
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noAds>
          <p>Aucune annonce trouvée pour cette catégorie.</p>
        </ng-template>

        <!--product grid-->
        <div class="pagination-area mt-20 mb-20" *ngIf="ads.length > 0">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)"
                  ><i class="fi-rs-arrow-small-left"></i
                ></a>
              </li>
              <li
                *ngFor="let page of getPagesArray()"
                class="page-item"
                [class.active]="page === currentPage"
              >
                <a class="page-link" (click)="changePage(page)">{{ page }}</a>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === totalPages"
              >
                <a class="page-link" (click)="changePage(currentPage + 1)"
                  ><i class="fi-rs-arrow-small-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>

        <!--End Deals-->
      </div>
      <div
        class="col-lg-1-5 primary-sidebar sticky-sidebar"
        *ngIf="!isScreenphone"
      >
        <a
          *ngIf="filters"
          class="shop-filter-toogled filter-drawer-button"
          (click)="mobileHeaderActive()"
        >
          <span class="fi-rs-filter mr-5"></span>
          Plus Filters
        </a>
        <!-- Fillter By Price -->
        <div class="sidebar-widget widget-category-2 mb-30">
          <h5 class="section-title style-1 mb-30">Rechercher :</h5>
          <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
            <input
              type="text"
              placeholder="Rechercher......."
              [(ngModel)]="searchTitle"
              (input)="filterAdsByTitle(searchTitle)"
              class="form-control"
              style="width: 100%"
            />
          </div>
        </div>
        <div class="sidebar-widget price_range range mb-30">
          <h5 class="section-title style-1 mb-30">Filtrer par prix</h5>
          <div class="slider">
            <div class="range-slider">
              <span class="rangeValues">{{ price1 }} DH - {{ price2 }} DH</span>              
              <input
                [(ngModel)]="price1"
                (input)="getVals()"
                [min]="minPrice"
                [max]="maxPrice"
                step="500"
                type="range"
              />
              <input
                [(ngModel)]="price2"
                (input)="getVals()"
                [min]="minPrice"
                [max]="maxPrice"
                step="500"
                type="range"
              />
            </div>
          </div>
        </div>

        <!--         <div
          class="sidebar-widget price_range range mb-30"
          *ngIf="openmatchingFilters"
        >
          <h5 class="section-title style-1 mb-30">Sélection</h5>
          <div class="list-group" *ngFor="let filter of matchingFilters">
            <div
              class="list-group-item mb-10 mt-10"
              *ngIf="filter.type === 'multiple'"
            >
              <label class="fw-900">{{ filter.label }}</label>
              <div class="custome-checkbox">
                <div *ngFor="let key of getOptionKeys(filter.options)">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="{{ key }}"
                    name="{{ key }}"
                    [checked]="isSelecteds(key)"
                    (change)="toggleOption(key, filter)"
                  />
                  <label class="form-check-label" [for]="key">
                    <span>{{ filter.options[key] }}</span>
                  </label>
                </div>
              </div>
            </div>

            <div
              class="list-group-item mb-10 mt-10"
              *ngIf="filter.type === 'bool'"
            >
              <label class="fw-900">{{ filter.label }}</label>
              <div class="custome-checkbox">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="checkbox"
                  [id]="'boolCheckbox_' + filter.key"
                  [(ngModel)]="filter.selectedOption"
                  (change)="filterCheck($event, filter)"
                />
                <label
                  class="form-check-label"
                  [for]="'boolCheckbox_' + filter.key"
                >
                  <span>{{ filter.label }}</span>
                </label>
              </div>
            </div>
          </div>
        </div> -->

        <div
          class="sidebar-widget widget-category-2 mb-30"
          *ngIf="!vissibleCategory"
        >
          <h5 class="section-title style-1 mb-30">Catégorie</h5>
          <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
            <div>
              <ul>
                <li *ngFor="let category of displayedCategories">
                  <a [href]="'/ads-category/' + category.id">
                    <img
                      [src]="category.media?.url"
                      alt="{{ category.name }}"
                    />
                    {{ category.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div
              class="more_slide_open"
              [style.display]="showMore ? 'block' : 'none'"
            >
              <div class="d-flex categori-dropdown-inner">
                <ul>
                  <li class="mylist" *ngFor="let category of hiddenCategories">
                    <a [href]="'/ads-category/' + category.id">
                      <img
                        [src]="category.icon_path"
                        alt="{{ category.name }}"
                      />
                      {{ category.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="more_categories" (click)="toggleShowMore()">
              <span class="icon"></span>
              <span class="heading-sm-1">{{
                showMore ? "Voir moins..." : "Voir plus..."
              }}</span>
            </div>
          </div>
        </div>

        <div
          class="sidebar-widget widget-category-2 mb-30"
          *ngIf="vissibleCategory"
        >
          <h5 class="section-title style-1 mb-30">Catégorie</h5>
          <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
            <div>
              <ul>
                <li *ngFor="let categorys of displayedCategoriesParent">
                  <a [href]="'/ads-category/' + categorys.id">
                    <img
                      [src]="category.media?.url"
                      alt="{{ categorys.name }}"
                    />
                    {{ categorys.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div
              class="more_slide_open"
              [style.display]="showMore ? 'block' : 'none'"
            >
              <div class="d-flex categori-dropdown-inner">
                <ul>
                  <li
                    class="mylist"
                    *ngFor="let categorys of hiddenCategoriesParent"
                  >
                    <a [href]="'/ads-category/' + category.id">
                      <img
                        [src]="category.media?.url"
                        alt="{{ categorys.name }}"
                      />
                      {{ categorys.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="more_categories" (click)="toggleShowMore()">
              <span class="icon"></span>
              <span class="heading-sm-1">{{
                showMore ? "Voir moins..." : "Voir plus..."
              }}</span>
            </div>
          </div>
        </div>

        <!-- Product sidebar Widget -->
        <!-- <div
          class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10"
        >
          <h5 class="section-title style-1 mb-30">New products</h5>
          <div class="single-post clearfix">
            <div class="image">
              <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#" />
            </div>
            <div class="content pt-10">
              <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
              <p class="price mb-0 mt-5">$99.50</p>
              <div class="product-rate">
                <div class="product-rating" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="single-post clearfix">
            <div class="image">
              <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#" />
            </div>
            <div class="content pt-10">
              <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
              <p class="price mb-0 mt-5">$89.50</p>
              <div class="product-rate">
                <div class="product-rating" style="width: 80%"></div>
              </div>
            </div>
          </div>
          <div class="single-post clearfix">
            <div class="image">
              <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#" />
            </div>
            <div class="content pt-10">
              <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
              <p class="price mb-0 mt-5">$25</p>
              <div class="product-rate">
                <div class="product-rating" style="width: 60%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
          <img src="assets/imgs/banner/banner-11.png" alt="" />
          <div class="banner-text">
            <span>Oganic</span>
            <h4>
              Save 17% <br />
              on <span class="text-brand">Oganic</span><br />
              Juice
            </h4>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

<app-preloader></app-preloader>

<div class="new-mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-top">
      <div class="mobile-header-logo">
        <h2 style="font-size: 1.5rem">Filtrer les annonces</h2>
      </div>
      <div
        class="new-mobile-menu-close close-style-wrap close-style-position-inherit"
      >
        <button class="close-style search-close">
          <i class="icon-top"></i>
          <i class="icon-bottom"></i>
        </button>
      </div>
    </div>

    <div class="mobile-header-content-area">
      <div class="mobile-search search-style-3 mobile-header-border">
        <form action="#">
          <!-- Search Input -->
          <input type="text" id="keywords" placeholder="Rechercher..." />

          <!-- Search Button -->
          <button type="submit" style="color: white">
            <i class="fi-rs-search"></i>
          </button>
        </form>
      </div>
      <div class="mobile-menu-wrap mobile-header-border">
        <div class="filter-drawer-content test">
          <div *ngIf="filters !== null">
            <div class="shop-product-fillter">
              <div class="sort-by-product-area" style="width: 100%">
                <div class="row filter" style="width: 100%">
                  <ng-container *ngFor="let key of getFiltersKeys()">
                    <ng-container
                      *ngIf="
                        filters[key].type === 'select' &&
                        !filters[key].dependant
                      "
                    >
                      <div class="col-md-12">
                        <div
                          class="sort-by-cover mb-20"
                          [class.show]="filters[key].dropdownOpen"
                          [attr.data-key]="key"
                        >
                          <label class="fw-900">{{ filters[key].label }}</label>
                          <div
                            class="sort-by-product-wrap"
                            style="width: max-content"
                          >
                            <div class="sort-by-dropdown-wrap">
                              {{ filters[key].selectedLabel || "Choissisez" }}
                              <span
                                ><i class="fi-rs-angle-small-down"></i
                              ></span>
                            </div>
                          </div>
                          <div
                            class="sort-by-dropdown"
                            [class.show]="filters[key].dropdownOpen"
                            [attr.data-key]="key"
                            style="position: absolute"
                          >
                            <ul style="max-height: 185px; overflow-y: auto">
                              <li (click)="selectOption(key, 'all')">
                                <a [class.active]="!filters[key].selectedOption"
                                  >Tous</a
                                >
                              </li>
                              <ng-container *ngIf="!filters[key].route">
                                <li
                                  *ngFor="
                                    let option of filters[key].options
                                      | keyvalue
                                  "
                                  (click)="
                                    selectOptioned(key, option.key, option)
                                  "
                                >
                                  <a
                                    [class.active]="isSelected(key, option.key)"
                                    >{{ option.value }}</a
                                  >
                                </li>
                              </ng-container>
                              <ng-container *ngIf="filters[key].route">
                                <ng-container
                                  *ngFor="
                                    let optionKey of getNestedKeys(
                                      filters[key].options
                                    )
                                  "
                                >
                                  <li>
                                    <strong>{{ optionKey }}</strong>
                                  </li>
                                  <li
                                    *ngFor="
                                      let option of getNestedOptions(
                                        filters[key].options[optionKey]
                                      )
                                    "
                                    (click)="selectOption(key, option.key)"
                                  >
                                    <a
                                      [class.active]="
                                        isSelected(key, option.key)
                                      "
                                      >{{ option.value }}</a
                                    >
                                  </li>
                                </ng-container>
                              </ng-container>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
            <div
              class="shop-product-fillter"
              [ngClass]="{ 'display-contents': matchingFilters === null }"
              *ngIf="matchingFilters !== null"
            >
              <div
                class="row sort-by-product-area"
                style="--bs-gutter-x: 0rem; width: 100%"
              >
                <div *ngFor="let filter of getFiltersWitoutCheck()">
                  <div class="sort-by-cover col-12">
                    <div class="" *ngIf="filter.type === 'int'">
                      <div class="form-group">
                        <label class="fw-900">{{ filter.label }}</label>

                        <div class="col-12 mb-2">
                          <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="filter.selectedOption"
                            (input)="filterOption($event, filter)"
                            style="
                              height: revert;
                              font-size: 14px;
                              padding: 9px 16px;
                            "
                            placeholder="Entrez un nombre"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Effacer and Rechercher buttons in two columns -->
          <div>
            <div
              class="row justify-content-center"
              style="
                padding: 0.5rem 1rem;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 4px;
                width: 100%;
                position: absolute;
                bottom: 0rem;
                left: 52%;
                transform: translateX(-50%);
                padding: 30px 0px 10px 10px;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: white;
              "
            >
              <div class="col-6 text-center">
                <button
                  class="apply-effacer-btn mr-10"
                  style="width: 95%; background: #fdc040 !important"
                  (click)="resetFilters()"
                >
                  Effacer
                </button>
              </div>
              <div class="col-6 text-center">
                <button
                  class="apply-effacer-btn"
                  style="width: 95%"
                  (click)="applyFilter()"
                >
                  Rechercher
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="filter-drawer-content list-group"
          *ngFor="let filter of matchingFiltered"
        >
          <!-- Example of dynamic filtering options -->
          <label class="fw-900" *ngIf="filter.type === 'multiple'">{{
            filter.label
          }}</label>
          <div
            class="list-group-item mb-10 mt-10"
            *ngIf="filter.type === 'multiple'"
            style="border-radius: 0.5rem"
          >
            <div class="custome-checkbox">
              <!-- Individual Option Checkboxes -->
              <div *ngFor="let key of getOptionKeys(filter.options)">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="{{ key }}"
                  name="{{ key }}"
                  [checked]="isSelecteds(key)"
                  (change)="toggleOption(key, filter)"
                />
                <label class="form-check-label" [for]="key">
                  <span>{{ filter.options[key] }}</span>
                </label>
              </div>
            </div>
          </div>
          <label class="fw-900" *ngIf="filter.type === 'bool'">{{
            filter.label
          }}</label>

          <div
            class="list-group-item mb-10 mt-10"
            *ngIf="filter.type === 'bool'"
            style="border-radius: 0.5rem"
          >
            <div class="custome-checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                name="checkbox"
                [id]="'boolCheckbox_' + filter.key"
                [(ngModel)]="filter.selectedOption"
                (change)="filterCheck($event, filter)"
              />
              <label
                class="form-check-label"
                [for]="'boolCheckbox_' + filter.key"
              >
                <span>{{ filter.label }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
