::ng-deep .sort-by-dropdown.show {
    opacity: 1;
    visibility: visible;
    text-align: left;

}


::ng-deep .sort-by-dropdown ul li a:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    color: #4b5563;
}

::ng-deep .categories-dropdown-wrap1.style-2 .more_categories .icon {
    transform: scale(0.7);
}

::ng-deep .categories-dropdown-wrap1 .more_categories span.icon {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid;
    border-radius: 30px;
    margin-right: 5px;
}

::ng-deep .categories-dropdown-wrap1 .more_categories span.icon::before {
    content: "";
    width: 12px;
    height: 2px;
    background: linear-gradient(45deg, #5EF292, #3BB77E);
    position: absolute;
    right: 4px;
    top: 9px;
}

::ng-deep .categories-dropdown-wrap1 .more_categories {
    margin-top: 15px;
    color: #3BB77E;
    position: relative;
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .categories-dropdown-wrap1 .more_categories span.icon::after {
    content: "";
    width: 2px;
    height: 12px;
    background: linear-gradient(45deg, #5EF292, #3BB77E);
    position: absolute;
    right: 9px;
    top: 4px;
}


ul li.mylist:first-child {
    margin-top: 15px;
}


::ng-deep .sort-by-dropdown ul li a.active:hover::before {
    color: #3BB77E !important;
}

::ng-deep .sort-by-dropdown ul {
    max-height: 17rem !important;
    overflow-y: auto;
}

::ng-deep .archive-header {
    background: url(../../assets/imgs/blog/header-bg.png) no-repeat center center;
    border-radius: 20px;
    padding: 70px 80px;
    background-size: cover;
}

@media only screen and (max-width: 500px) {

    ::ng-deep .archive-header {
        padding: 30px;
        font-size: small;
        text-align: center;

    }

    ::ng-deep .mb-15 {
        font-size: x-large;

    }

}

::ng-deep .filter-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 300px;
    /* Adjust width as needed */
    background: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

::ng-deep .filter-drawer.open {
    right: 0;
}

::ng-deep .filter-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    background: linear-gradient(45deg, #5EF292, #3BB77E);
    border-bottom: 1px solid #e5e5e5;
}

::ng-deep .filter-drawer-header h2 {
    margin: 0;
}

::ng-deep .filter-drawer-header .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

::ng-deep .filter-drawer-content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

::ng-deep .sort-by-cover {
    padding: 10px 0;
}

::ng-deep .sort-by {
    display: flex;
    align-items: center;
}

::ng-deep .sort-by-dropdown-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}


::ng-deep .sort-by-dropdown ul {
    max-height: 185px;
    overflow-y: auto;
}

::ng-deep .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

::ng-deep .apply-filters-btn {
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #5EF292, #3BB77E);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 80%;


    position: absolute;
    bottom: 10px;
    /* Adjust as needed */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Center horizontally */
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

::ng-deep .apply-filters-btn:hover {
    background: #0056b3;
}

::ng-deep .filter-drawer-header h2 {
    margin: 0;
    font-size: large;
}

::ng-deep .filter-drawer-header .close-btn {
    background: none;
    border: none;
    font-size: small;
    cursor: pointer;
}

::ng-deep .shop-product-fillter .sort-by-product-area .sort-by-product-wrap,
::ng-deep .shop-product-fillter .sort-by-product-area .sort-by-cover {
    width: 100% !important;
}

::ng-deep .sort-by-cover {
    padding: 0;
}

::ng-deep .button i[class*=" fi-rr-"]:before {
    color: gray !important;
}

::ng-deep .sort-by-dropdown {
    display: none;
}

::ng-deep .sort-by-dropdown.show {
    display: block;
}



::ng-deep .row {
    --bs-gutter-x: 0rem;


}

::ng-deep .shop-product-fillter {

    margin: 0;
}

::ng-deep .apply-filters-btn:hover {
    background: linear-gradient(45deg, #5EF292, #3BB77E);
}

@media only screen and (min-width: 768px) {
    ::ng-deep .mobile-header-wrapper-style {
        width: 380px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top {
        padding: 15px 30px 13px 30px;
        border-bottom: 1px solid #ececec;
    }
}

::ng-deep .mobile-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* Optional: Add padding as needed */
}

::ng-deep .mobile-header-logo {
    flex-grow: 1;
}

::ng-deep .new-mobile-menu-close {
    display: flex;
    align-items: center;
}


::ng-deep .filter-buttons-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

::ng-deep .apply-filters-btn {
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #5ef292, #3bb77e);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 80%;
    text-align: center;
}

::ng-deep .col-6 {
    width: 50%;
    text-align: center;
}

::ng-deep .archive-header {
    background: url("../../assets/imgs/slider/header-bg-detail.png") no-repeat center center !important;
    border-radius: 20px;
    background-size: cover;
}


::ng-deep .buttons-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
}

::ng-deep .apply-effacer-btn,
::ng-deep .apply-filters-btn {
    padding: 10px 20px;
    background: linear-gradient(45deg, #5ef292, #3bb77e);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    font-size: medium;
    font-weight: 600;
}

::ng-deep .shop-product-fillter.filter .sort-by-product-area .sort-by-product-wrap,
.shop-product-fillter.filter .sort-by-product-area .sort-by-cover {
    width: max-content !important;
}

::ng-deep .shop-product-fillter.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px !important;
}

::ng-deep .row {
    --bs-gutter-x: 1.5rem;
}

@media only screen and (max-width: 480px) {
    ::ng-deep .shop-product-fillter.filter {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .archive-heade {
        padding: 30px !important;
    }
}



::ng-deep .custome-checkbox .form-check-label {
    position: static;
}

::ng-deep .list-group-item {
    position: static;
}

::ng-deep .row.filter {
    --bs-gutter-x: 0rem;
}

::ng-deep .filter-drawer-content {
    flex-grow: 1;
    padding-top: 0rem;
    overflow-y: initial;
}

::ng-deep a.shop-filter-toogle:hover {
    color: #3bb77e !important;
}

/* ::ng-deep .row>* {
    padding-right: 0rem;
    padding-left: 0rem;

}
 */
::ng-deep .custom-carousels .p-carousel .p-carousel-content .p-carousel-prev {
    left: 2rem;
}

::ng-deep .product-cart-wrap .product-img-action-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
}

::ng-deep #carouseled .slick-slider .slick-track {
    width: 0% !important;
}

::ng-deep p-carousel.p-element.custom-carouselys.slick-slide.slick-current.slick-active {
    display: block;
    width: 100% !important;
}

/* ::ng-deep .slick-slider .slick-track, .slick-slider .slick-list {
width: 100% !important;
}  */

::ng-deep .ads .slick-list .slick-track,
.ads .slick-slider .slick-list {
    /* background-color: blue; */
    width: 100% !important;
}

::ng-deep .p-carousel-items-content {
    margin-left: -1rem !important;
}

::ng-deep .carausel-4-columns-cover .carausel-4-columns .product-cart-wrap {
    margin-left: 8px;
}

::ng-deep .product-cart-wrap .product-img-action-wrap .product-img {
    height: 280px !important;
}

::ng-deep .btn.see {
    padding: 0 !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    margin-top: 1rem;
}

::ng-deep .product-cart-wrap .product-img-action-wrap .adsemploi a img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 1px solid #ececec;

}

::ng-deep .carouseled .p-carousel-container {
    margin-left: 1rem;
}

::ng-deep .p-carousel-items-content {
    margin-left: 0rem !important;
}


@media only screen and (max-width: 1024px) {
    ::ng-deep .section-title.style-2 h3 {
        margin-bottom: 25px;
        font-size: 25px !important;
    }

    ::ng-deep .product-cart-wrap .product-img-action-wrap {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    ::ng-deep .carouseled .p-carousel-container {
        margin-left: 0rem !important;
    }

    ::ng-deep .carausel-4-columns-cover .carausel-4-columns {
        margin: 0px;
    }


}

@media only screen and (max-width: 480px) {

    ::ng-deep.carausel-6-columns,
    ::ng-deep .carausel-4-columns {
        max-width: max-content !important;
    }

}

::ng-deep .p-carousel-items-container {
    margin-left: 1rem !important;
}


.padding-left-right {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media only screen and (min-width: 1024px) {
    ::ng-deep .product-cart-wrap .product-content-wrap .product-category {
        margin-top: 10px;
    }

    ::ng-deep .product-cart-wrap .product-img-action-wrap {
        padding: 20px 15px 0 15px;
        margin: 0;
    }
}


@media only screen and (max-width: 1024px) {
    ::ng-deep .product-cart-wrap .product-img-action-wrap {
        padding-left: 0.1rem !important;
        padding-top: 1rem !important;
        padding-right: 0.1rem !important;
    }

    ::ng-deep .product-cart-wrap .product-content-wrap .product-category {
        margin-top: 5px;
    }

    ::ng-deep .product-cart-wrap .product-img-action-wrap .product-img {
        height: 180px !important;
    }

    ::ng-deep .product-cart-wrap .product-content-wrap h2 {
        margin-bottom: 5px !important;
    }


    ::ng-deep .section-title.style-2 h3 {
        /* margin-bottom: 25px; */
        font-size: 1.5rem !important;
        font-weight: 800;
    }
}

@media only screen and (max-width: 500px) {
    ::ng-deep .p-carousel-items-container {
        margin-left: -1rem !important;
    }

    ::ng-deep .custom-carousel.first .p-carousel-items-container {
        margin-left: 1rem !important;

    }

    ::ng-deep .custom-carousels.second .p-carousel-items-container {
        margin-left: -0.5rem !important;

    }
}

@media only screen and (max-width: 768px) {
    ::ng-deep .product-cart-wrap .product-img-action-wrap .product-action-1 {
        min-width: auto;
    }

    ::ng-deep .product-cart-wrap .product-content-wrap {
        padding: 0 10px 10px 10px;
    }
}


::ng-deep .product-cart-wrap .product-content-wrap h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0rem;
    height: 2rem;
}

@media (min-width: 992px) {
    ::ng-deep .col-lg-2 {
        flex: 0 0 auto;
        width: 20%;
    }
}

::ng-deep .product-cart-wrap .product-img-action-wrap {
    padding: 20px 15px 0 15px !important;
    margin: 0;
}

@media only screen and (min-width: 1024px) {
    ::ng-deep .product-cart-wrap .product-img-action-wrap {
        padding: 20px 15px 0 15px !important;
        margin: 0;
    }
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #3BB77E;
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.slider {
    border-radius: 3px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.slider .range-slider {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.slider p {
    text-align: center;
    margin-top: -10px;
    font-size: 30px;
    color: rgb(7, 77, 189);
}

.slider .range-slider .rangeValues {
    display: block;
    box-shadow: 0 0 20px #5ef29270;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 35px;
}

.slider input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    position: absolute;
    left: 0;
    height: auto !important;
}

.slider input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #3bb77e;
    margin-top: -6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.slider input[type=range]:focus {
    outline: none;
}

.slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.promote-border {
    border-color: #f39c12;
    border-style: solid;
}



::ng-deep .premium-badge {
    position: absolute;
    top: 10px;
    /* Adjust this as needed */
    right: 10px;
    /* Adjust this as needed */
    background-color: #f39c12;
    /* Badge background color */
    color: #fff;
    /* Text color */
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    border-radius: 5rem;
    /* Ensure it is above other content */
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px !important;
}