<app-header></app-header>
<main class="main">
  <div class="page-header mt-30 mb-50">
    <div class="container">
      <!--       <div class="archive-header" style="padding-bottom: 0px">
 -->
      <div class="archive-header">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <h1 class="mb-15">{{ category.name }}</h1>
            <div class="breadcrumb">
              <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
              <span></span> {{ categoryParent.name }} <span></span>
              {{ category.name }}
            </div>
          </div>
          <div
            class="col-xl-12 text-end d-none d-xl-block"
            style="margin-top: 2rem"
            *ngIf="filters !== null"
          >
            <div class="shop-product-fillter">
              <div class="totall-product"></div>
              <div class="sort-by-product-area">
                <div
                  class="sort-by-cover mr-10"
                  *ngFor="let key of getFiltersKeys()"
                >
                  <div
                    class="sort-by-product-wrap"
                    *ngIf="
                      filters[key].type === 'select' && !filters[key].dependant
                    "
                  >
                    <div class="sort-by">
                      <span
                        ><i class="fi-rs-apps"></i
                        >{{ filters[key].label }} :</span
                      >
                    </div>
                    <div class="sort-by-dropdown-wrap">
                      {{ filters[key].selectedOption?.substring(0, 5) }}
                      <span><i class="fi-rs-angle-small-down"></i></span>
                    </div>
                  </div>
                  <div class="sort-by-dropdown">
                    <ul style="max-height: 185px; overflow-y: auto">
                      <li (click)="selectOption(key, 'all')">
                        <a [class.active]="isSelected(key, 'all')">Tous</a>
                      </li>
                      <li
                        *ngFor="let option of filters[key].options | keyvalue"
                        (click)="selectOptioneds(key, option.key)"
                      >
                        <a [class.active]="isSelected(key, option.key)">{{
                          option.value
                        }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="shop-product-fillter" *ngIf="matchingFilters !== null">
              <div class="totall-product"></div>
              <div class="sort-by-product-area">
                <div
                  class="sort-by-cover mr-10"
                  *ngFor="let filter of getFiltersWitoutCheck()"
                >
                  <div
                    class="sort-by-product-wrap"
                    *ngIf="filter.type === 'int'"
                  >
                    <div class="form-group">
                      <label style="float: left">
                        <i
                          class="fi fi-rr-settings-sliders"
                          style="margin-right: 1rem"
                        ></i>
                        {{ filter.label }}</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="filter.selectedOption"
                        style="height: revert"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-30">
    <div class="row">
      <div class="col-lg-4-5">
        <div class="shop-product-fillter">
          <div class="totall-product">
            <p>
              Nous avons trouvé
              <strong class="text-brand">{{ ads.length }}</strong>
              annonces pour vous !
            </p>
          </div>
          <div class="sort-by-product-area">
            <div class="sort-by-cover mr-10">
              <div class="sort-by-product-wrap">
                <div class="sort-by">
                  <span><i class="fi-rs-apps"></i>Afficher :</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                  <span
                    >{{ adsPerPage }} <i class="fi-rs-angle-small-down"></i
                  ></span>
                </div>
              </div>
              <div class="sort-by-dropdown">
                <ul>
                  <li>
                    <a
                      [class.active]="adsPerPage === 10"
                      (click)="changeAdsPerPage(10)"
                      >10</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="adsPerPage === 20"
                      (click)="changeAdsPerPage(20)"
                      >20</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="adsPerPage === 50"
                      (click)="changeAdsPerPage(50)"
                      >50</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="adsPerPage === filteredAds.length"
                      (click)="changeAdsPerPage(filteredAds.length)"
                      >Tout</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="sort-by-cover">
              <div class="sort-by-product-wrap">
                <div class="sort-by">
                  <span><i class="fi-rs-apps-sort"></i>Trier par :</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                  <span
                    >{{ getSortOptionLabel(sortOption) }}
                    <i class="fi-rs-angle-small-down"></i
                  ></span>
                </div>
              </div>
              <div class="sort-by-dropdown">
                <ul>
                  <li>
                    <a
                      [class.active]="sortOption === 'featured'"
                      (click)="changeSortOption('featured')"
                      >Mis en avant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'priceLowToHigh'"
                      (click)="changeSortOption('priceLowToHigh')"
                      >Prix : croissant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'priceHighToLow'"
                      (click)="changeSortOption('priceHighToLow')"
                      >Prix : décroissant</a
                    >
                  </li>
                  <li>
                    <a
                      [class.active]="sortOption === 'releaseDate'"
                      (click)="changeSortOption('releaseDate')"
                      >Date de sortie</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <!--             <div class="sort-by-cover" *ngFor="let key of getFilterKeys()">
              <div class="sort-by-product-wrap">
                <div class="sort-by">
                  <span><i class="fi-rs-apps-sort"></i>{{ filters[key].label }} :</span>
                </div>
                <div class="sort-by-dropdown-wrap">
                  <span
                    >{{ getSortOptionLabel(sortOption) }}
                    <i class="fi-rs-angle-small-down"></i
                  ></span>
                </div>
              </div>
              <div class="sort-by-dropdown">
                <ul>
                  <li *ngFor="let condition of filters[key].conditions">
                    <a (click)="applyCondition(filters[key], condition)">
                      {{ condition }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>


            <div *ngFor="let key of getFilterKeys()">
              <div class="filter-category">
                <div class="filter-label">{{ filters[key].label }}</div>
                <div class="filter-dropdown-wrap">
                  <span>
                    <i class="fi-rs-apps-sort"></i> Choisir une condition
                    <i class="fi-rs-angle-small-down"></i>
                  </span>
                  <div class="filter-dropdown">
                    <ul>
                      <li *ngFor="let condition of filters[key].conditions">
                        <a (click)="applyCondition(filters[key], condition)">
                          {{ condition }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <div class="row product-grid">
          <div
            *ngFor="let ad of ads"
            class="col-lg-1-5 col-md-4 col-12 col-sm-6"
          >
            <div class="product-cart-wrap mb-30">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom" style="height: 240px">
                  <a [href]="'/ads/' + ad.id" style="height: 100%">
                    <img
                      class="default-img"
                      [src]="
                        ad.medias[0]?.url || 'assets/imgs/shop/default-img.jpg'
                      "
                      alt="{{ ad.title }}"
                    />
                    <img
                      class="hover-img"
                      [src]="ad.medias[1]?.url || ad.medias[0]?.url"
                      alt=""
                      style="height: 100%"
                    />
                  </a>
                </div>
                <div class="product-action-1">
                  <a
                    aria-label="Ajouter à la liste de souhaits"
                    class="action-btn"
                    href="#"
                  >
                    <i class="fi-rs-heart"></i>
                  </a>
                </div>
                <div
                  class="product-badges product-badges-position product-badges-mrg"
                >
                  <span *ngIf="ad.urgent" class="hot">Urgent</span>
                </div>
              </div>
              <div class="product-content-wrap">
                <div class="product-category">
                  <a [href]="'/shop-grid-right/' + ad.category.id">{{
                    ad.category.name
                  }}</a>
                </div>
                <h2>
                  <a [href]="'/ads/' + ad.id">{{ ad.title }}</a>
                </h2>
                <div class="product-price">
                  <span>{{ ad.price }} DH</span>
                </div>
                <div>
                  <span class="font-small text-muted">{{
                    getRelativeTime(ad.created_at)
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noAds>
          <p>Aucune annonce trouvée pour cette catégorie.</p>
        </ng-template>

        <!--product grid-->
        <div class="pagination-area mt-20 mb-20" *ngIf="ads.length > 0">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)"
                  ><i class="fi-rs-arrow-small-left"></i
                ></a>
              </li>
              <li
                *ngFor="let page of getPagesArray()"
                class="page-item"
                [class.active]="page === currentPage"
              >
                <a class="page-link" (click)="changePage(page)">{{ page }}</a>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === totalPages"
              >
                <a class="page-link" (click)="changePage(currentPage + 1)"
                  ><i class="fi-rs-arrow-small-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>

        <!--End Deals-->
      </div>
      <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
        <!-- Fillter By Price -->
        <ng-container *ngFor="let filter of matchingFilters">
          <div
            class="sidebar-widget price_range range mb-30"
            *ngIf="filter.type === 'multiple'"
          >
            <h5 class="section-title style-1 mb-30">Sélection</h5>

            <div class="list-group">
              <!-- Example of dynamic filtering options -->
              <div class="list-group-item mb-10 mt-10">
                <label class="fw-900">{{ filter.label }}</label>
                <div class="custome-checkbox">
                  <div *ngFor="let option of filter.options | keyvalue">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      [id]="'exampleCheckbox_' + option.key"
                      [value]="option.key"
                      [(ngModel)]="filter.selectedOptions"
                    />
                    <label
                      class="form-check-label"
                      [for]="'exampleCheckbox_' + option.key"
                    >
                      <span>{{ option.value }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- 
            <a class="btn btn-sm btn-default" href="/shop-grid-right">
              <i class="fi-rs-filter mr-5"></i> Filtrer
            </a> -->
          </div>
        </ng-container>
        <div class="sidebar-widget widget-category-2 mb-30">
          <h5 class="section-title style-1 mb-30">Rechercher :</h5>
          <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
            <input
              type="text"
              placeholder="Rechercher par titre"
              [(ngModel)]="searchTitle"
              (input)="filterAdsByTitle($event)"
              class="form-control"
              style="width: 100%"
            />
          </div>
        </div>

        <div
          class="sidebar-widget widget-category-2 mb-30"
          *ngIf="!vissibleCategory"
        >
          <h5 class="section-title style-1 mb-30">Catégorie</h5>
          <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
            <div>
              <ul>
                <li *ngFor="let category of displayedCategories">
                  <a [href]="'/ads-category/' + category.id">
                    <img
                      [src]="category.media?.url"
                      alt="{{ category.name }}"
                    />
                    {{ category.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div
              class="more_slide_open"
              [style.display]="showMore ? 'block' : 'none'"
            >
              <div class="d-flex categori-dropdown-inner">
                <ul>
                  <li class="mylist" *ngFor="let category of hiddenCategories">
                    <a [href]="'/ads-category/' + category.id">
                      <img
                        [src]="category.icon_path"
                        alt="{{ category.name }}"
                      />
                      {{ category.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="more_categories" (click)="toggleShowMore()">
              <span class="icon"></span>
              <span class="heading-sm-1">{{
                showMore ? "Voir moins..." : "Voir plus..."
              }}</span>
            </div>
          </div>
        </div>

        <div
          class="sidebar-widget widget-category-2 mb-30"
          *ngIf="vissibleCategory"
        >
          <h5 class="section-title style-1 mb-30">Catégorie</h5>
          <div class="categories-dropdown-wrap1 style-2 font-heading mt-30">
            <div>
              <ul>
                <li *ngFor="let categorys of displayedCategoriesParent">
                  <a [href]="'/ads-category/' + categorys.id">
                    <img
                      [src]="category.media?.url"
                      alt="{{ categorys.name }}"
                    />
                    {{ categorys.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div
              class="more_slide_open"
              [style.display]="showMore ? 'block' : 'none'"
            >
              <div class="d-flex categori-dropdown-inner">
                <ul>
                  <li
                    class="mylist"
                    *ngFor="let categorys of hiddenCategoriesParent"
                  >
                    <a [href]="'/ads-category/' + category.id">
                      <img
                        [src]="category.media?.url"
                        alt="{{ categorys.name }}"
                      />
                      {{ categorys.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="more_categories" (click)="toggleShowMore()">
              <span class="icon"></span>
              <span class="heading-sm-1">{{
                showMore ? "Voir moins..." : "Voir plus..."
              }}</span>
            </div>
          </div>
        </div>

        <!-- Product sidebar Widget -->
        <!-- <div
          class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10"
        >
          <h5 class="section-title style-1 mb-30">New products</h5>
          <div class="single-post clearfix">
            <div class="image">
              <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#" />
            </div>
            <div class="content pt-10">
              <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
              <p class="price mb-0 mt-5">$99.50</p>
              <div class="product-rate">
                <div class="product-rating" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="single-post clearfix">
            <div class="image">
              <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#" />
            </div>
            <div class="content pt-10">
              <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
              <p class="price mb-0 mt-5">$89.50</p>
              <div class="product-rate">
                <div class="product-rating" style="width: 80%"></div>
              </div>
            </div>
          </div>
          <div class="single-post clearfix">
            <div class="image">
              <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#" />
            </div>
            <div class="content pt-10">
              <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
              <p class="price mb-0 mt-5">$25</p>
              <div class="product-rate">
                <div class="product-rating" style="width: 60%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
          <img src="assets/imgs/banner/banner-11.png" alt="" />
          <div class="banner-text">
            <span>Oganic</span>
            <h4>
              Save 17% <br />
              on <span class="text-brand">Oganic</span><br />
              Juice
            </h4>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

<app-preloader></app-preloader>
